In [1]:
#Question 3

In [2]:
#import libraries
import numpy as np
import pandas as pd

In [9]:
##import airport data
airport = pd.read_csv('airports.csv')
airport

,iata,airport,city,state,country,lat,long
0,00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
1,00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
3,01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944
...,...,...,...,...,...,...,...
3371,ZEF,Elkin Municipal,Elkin,NC,USA,36.280024,-80.786069
3372,ZER,Schuylkill Cty/Joe Zerbey,Pottsville,PA,USA,40.706449,-76.373147
3373,ZPH,Zephyrhills Municipal,Zephyrhills,FL,USA,28.228065,-82.155916
3374,ZUN,Black Rock,Zuni,NM,USA,35.083227,-108.791777
3375,ZZV,Zanesville Municipal,Zanesville,OH,USA,39.944458,-81.892105

In [7]:
##import 2006 and 2007 data
df2006 = pd.read_csv('2006.csv')
df2006

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,45,13,0,NaN,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,27,19,0,NaN,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,4,11,0,NaN,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,16,10,0,NaN,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,27,12,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7141917,2006,12,29,5,1246.0,1249,1452.0,1459,DL,1675,...,6,12,0,NaN,0,0,0,0,0,0
7141918,2006,12,29,5,1225.0,1155,2033.0,1931,DL,1676,...,12,35,0,NaN,0,30,0,32,0,0
7141919,2006,12,29,5,2118.0,2115,2254.0,2241,DL,1676,...,9,27,0,NaN,0,0,0,0,0,0
7141920,2006,12,29,5,2122.0,2127,2209.0,2223,DL,1677,...,5,21,0,NaN,0,0,0,0,0,0
7141921,2006,12,29,5,2042.0,2045,2213.0,2235,DL,1678,...,5,15,0,NaN,0,0,0,0,0,0

In [6]:
df2007 = pd.read_csv('2007.csv')
df2007

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2007,1,1,1,1232.0,1225,1341.0,1340,WN,2891,...,4,11,0,NaN,0,0,0,0,0,0
1,2007,1,1,1,1918.0,1905,2043.0,2035,WN,462,...,5,6,0,NaN,0,0,0,0,0,0
2,2007,1,1,1,2206.0,2130,2334.0,2300,WN,1229,...,6,9,0,NaN,0,3,0,0,0,31
3,2007,1,1,1,1230.0,1200,1356.0,1330,WN,1355,...,3,8,0,NaN,0,23,0,0,0,3
4,2007,1,1,1,831.0,830,957.0,1000,WN,2278,...,3,9,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7453210,2007,12,15,6,1558.0,1605,1749.0,1736,DL,58,...,14,17,0,NaN,0,0,0,0,0,0
7453211,2007,12,15,6,1902.0,1851,2110.0,2105,DL,59,...,6,21,0,NaN,0,0,0,0,0,0
7453212,2007,12,15,6,1024.0,1025,1750.0,1735,DL,61,...,14,19,0,NaN,0,0,0,15,0,0
7453213,2007,12,15,6,1353.0,1315,1658.0,1622,DL,62,...,11,14,0,NaN,0,0,0,0,0,36
7453214,2007,12,15,6,1824.0,1800,2001.0,1928,DL,63,...,10,26,0,NaN,0,24,0,9,0,0

In [10]:
##filtering out some states to find the trend

In [11]:
##Subsetting DTW, Michigan for both 2006 and 2007
DTW06 = df2006[df2006['Dest']=="DTW"]
DTW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
188,2006,1,11,3,1929.0,1930,2109.0,2118,US,520,...,8,13,0,NaN,0,0,0,0,0,0
189,2006,1,11,3,2127.0,2130,2312.0,2318,US,1130,...,9,15,0,NaN,0,0,0,0,0,0
595,2006,1,11,3,1352.0,1357,2043.0,2049,US,96,...,7,15,0,NaN,0,0,0,0,0,0
596,2006,1,11,3,2256.0,2259,542.0,551,US,98,...,7,17,0,NaN,0,0,0,0,0,0
1083,2006,1,11,3,1245.0,1247,1834.0,1830,US,230,...,6,8,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7141488,2006,12,29,5,1024.0,1024,1224.0,1231,DL,1122,...,6,20,0,NaN,0,0,0,0,0,0
7141752,2006,12,29,5,2145.0,2145,2333.0,2340,DL,1512,...,5,15,0,NaN,0,0,0,0,0,0
7141844,2006,12,29,5,1240.0,1242,1438.0,1442,DL,1602,...,5,18,0,NaN,0,0,0,0,0,0
7141868,2006,12,29,5,958.0,955,1528.0,1538,DL,1621,...,8,24,0,NaN,0,0,0,0,0,0
7141912,2006,12,29,5,1511.0,1514,1702.0,1715,DL,1670,...,8,13,0,NaN,0,0,0,0,0,0

In [12]:
DTW07 = df2007[df2007['Dest']=="DTW"]
DTW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
85,2007,1,1,1,2112.0,2110,2322.0,2330,WN,198,...,4,6,0,NaN,0,0,0,0,0,0
86,2007,1,1,1,1657.0,1700,1920.0,1925,WN,1880,...,7,7,0,NaN,0,0,0,0,0,0
430,2007,1,2,2,1159.0,1205,1425.0,1435,WN,1447,...,5,12,0,NaN,0,0,0,0,0,0
431,2007,1,2,2,806.0,805,1028.0,1035,WN,2281,...,4,10,0,NaN,0,0,0,0,0,0
432,2007,1,2,2,2035.0,2010,2257.0,2240,WN,2701,...,4,8,0,NaN,0,4,0,0,0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7451451,2007,12,13,4,1255.0,1301,1448.0,1500,DL,1588,...,8,16,0,NaN,0,0,0,0,0,0
7452175,2007,12,14,5,953.0,955,1518.0,1537,DL,740,...,7,27,0,NaN,0,0,0,0,0,0
7452234,2007,12,14,5,1913.0,1916,2106.0,2118,DL,842,...,7,25,0,NaN,0,0,0,0,0,0
7452566,2007,12,14,5,826.0,829,1024.0,1029,DL,1220,...,9,22,0,NaN,0,0,0,0,0,0
7452822,2007,12,14,5,1300.0,1301,1456.0,1500,DL,1588,...,9,24,0,NaN,0,0,0,0,0,0

In [13]:
##Subsetting DFW, Texas for both 2006 and 2007
DFW06 = df2006[df2006['Dest']=="DFW"]
DFW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
185,2006,1,11,3,1428.0,1430,1603.0,1626,US,401,...,3,12,0,NaN,0,0,0,0,0,0
186,2006,1,11,3,1911.0,1915,2048.0,2108,US,1183,...,10,10,0,NaN,0,0,0,0,0,0
187,2006,1,11,3,746.0,750,925.0,947,US,1219,...,10,10,0,NaN,0,0,0,0,0,0
374,2006,1,11,3,1921.0,1915,2130.0,2144,US,1621,...,12,10,0,NaN,0,0,0,0,0,0
375,2006,1,11,3,830.0,825,1044.0,1055,US,1685,...,4,19,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7141424,2006,12,29,5,657.0,700,811.0,824,DL,1059,...,5,10,0,NaN,0,0,0,0,0,0
7141446,2006,12,29,5,2125.0,1700,2252.0,1829,DL,1077,...,8,23,0,NaN,0,0,0,263,0,0
7141483,2006,12,29,5,758.0,800,919.0,925,DL,1117,...,8,17,0,NaN,0,0,0,0,0,0
7141623,2006,12,29,5,1530.0,1446,NaN,1601,DL,1271,...,0,13,0,NaN,1,0,0,0,0,0
7141695,2006,12,29,5,2126.0,2050,2315.0,2214,DL,1452,...,10,45,0,NaN,0,36,0,25,0,0

In [14]:
DFW07 = df2007[df2007['Dest']=="DFW"]
DFW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
94015,2007,1,30,2,956.0,920,1104.0,1030,XE,2144,...,12,14,0,NaN,0,0,13,0,0,21
94155,2007,1,2,2,1642.0,1645,1836.0,1854,XE,2697,...,13,9,0,NaN,0,0,0,0,0,0
94860,2007,1,3,3,1145.0,1145,1259.0,1258,XE,2159,...,6,25,0,NaN,0,0,0,0,0,0
95351,2007,1,12,5,852.0,835,1102.0,1044,XE,2327,...,15,9,0,NaN,0,17,0,1,0,0
95882,2007,1,24,3,919.0,920,1021.0,1030,XE,2144,...,12,10,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7452430,2007,12,14,5,637.0,640,752.0,803,DL,1059,...,8,12,0,NaN,0,0,0,0,0,0
7452555,2007,12,14,5,950.0,955,1116.0,1125,DL,1209,...,5,24,0,NaN,0,0,0,0,0,0
7452563,2007,12,14,5,1059.0,1104,1233.0,1232,DL,1217,...,7,25,0,NaN,0,0,0,0,0,0
7452580,2007,12,14,5,1916.0,1710,2243.0,2043,DL,1232,...,8,14,0,NaN,0,0,0,0,0,120
7452652,2007,12,14,5,2155.0,2155,2329.0,2321,DL,1409,...,6,31,0,NaN,0,0,0,0,0,0

In [15]:
##Subsetting RSW, Florida for both 2006 and 2007
RSW06 = df2006[df2006['Dest']=="RSW"]
RSW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
307,2006,1,11,3,1406.0,1405,1555.0,1554,US,297,...,3,11,0,NaN,0,0,0,0,0,0
308,2006,1,11,3,1303.0,1300,1459.0,1452,US,435,...,3,21,0,NaN,0,0,0,0,0,0
309,2006,1,11,3,2152.0,2145,2342.0,2339,US,545,...,5,19,0,NaN,0,0,0,0,0,0
310,2006,1,11,3,1129.0,1135,1324.0,1331,US,1052,...,5,21,0,NaN,0,0,0,0,0,0
435,2006,1,11,3,2029.0,1940,2251.0,2218,US,69,...,4,9,0,NaN,0,11,0,0,0,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7141095,2006,12,29,5,1218.0,1220,1357.0,1358,DL,581,...,8,16,0,NaN,0,0,0,0,0,0
7141120,2006,12,29,5,1120.0,1122,1434.0,1430,DL,613,...,8,12,0,NaN,0,0,0,0,0,0
7141143,2006,12,29,5,1029.0,1029,1208.0,1215,DL,641,...,7,20,0,NaN,0,0,0,0,0,0
7141220,2006,12,29,5,1141.0,1145,1445.0,1513,DL,739,...,7,17,0,NaN,0,0,0,0,0,0
7141281,2006,12,29,5,1153.0,1152,1520.0,1533,DL,833,...,9,15,0,NaN,0,0,0,0,0,0

In [16]:
RSW07 = df2007[df2007['Dest']=="RSW"]
RSW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
737,2007,1,2,2,937.0,850,1230.0,1135,WN,520,...,6,11,0,NaN,0,0,0,55,0,0
738,2007,1,2,2,1408.0,1355,1652.0,1635,WN,1743,...,6,15,0,NaN,0,13,0,4,0,0
1296,2007,1,2,2,733.0,730,1034.0,1045,WN,358,...,6,7,0,NaN,0,0,0,0,0,0
1876,2007,1,2,2,2245.0,2155,2331.0,2240,WN,1187,...,6,9,0,NaN,0,4,0,1,0,46
1877,2007,1,2,2,1432.0,1300,1520.0,1345,WN,2489,...,5,9,0,NaN,0,0,0,95,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7452516,2007,12,14,5,751.0,755,921.0,936,DL,1153,...,3,10,0,NaN,0,0,0,0,0,0
7452702,2007,12,14,5,916.0,910,1107.0,1057,DL,1461,...,5,29,0,NaN,0,0,0,0,0,0
7452813,2007,12,14,5,1233.0,1220,1414.0,1407,DL,1577,...,6,18,0,NaN,0,0,0,0,0,0
7452996,2007,12,14,5,859.0,900,1118.0,1127,DL,1773,...,6,13,0,NaN,0,0,0,0,0,0
7453068,2007,12,14,5,745.0,745,1323.0,1138,DL,1843,...,6,138,0,NaN,0,0,0,105,0,0

In [17]:
##Subsetting each state by month for both 2006 and 2007

In [31]:
##subsetting DTW by months in 2006
janDTW06 = DTW06[DTW06['Month']==1]
janDTW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
188,2006,1,11,3,1929.0,1930,2109.0,2118,US,520,...,8,13,0,NaN,0,0,0,0,0,0
189,2006,1,11,3,2127.0,2130,2312.0,2318,US,1130,...,9,15,0,NaN,0,0,0,0,0,0
595,2006,1,11,3,1352.0,1357,2043.0,2049,US,96,...,7,15,0,NaN,0,0,0,0,0,0
596,2006,1,11,3,2256.0,2259,542.0,551,US,98,...,7,17,0,NaN,0,0,0,0,0,0
1083,2006,1,11,3,1245.0,1247,1834.0,1830,US,230,...,6,8,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579798,2006,1,29,7,1404.0,1405,1601.0,1605,DL,611,...,7,12,0,NaN,0,0,0,0,0,0
579946,2006,1,29,7,1556.0,1557,1753.0,1756,DL,798,...,9,17,0,NaN,0,0,0,0,0,0
580064,2006,1,29,7,1153.0,1155,1339.0,1353,DL,934,...,4,14,0,NaN,0,0,0,0,0,0
581066,2006,1,30,1,2144.0,2145,2344.0,2343,DL,384,...,6,24,0,NaN,0,0,0,0,0,0
581139,2006,1,30,1,754.0,755,943.0,950,DL,469,...,8,13,0,NaN,0,0,0,0,0,0

In [32]:
febDTW06 = DTW06[DTW06['Month']==2]
febDTW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
581345,2006,2,4,6,2230.0,2140,2358.0,2328,US,242,...,9,11,0,NaN,0,30,0,0,0,0
581346,2006,2,11,6,2148.0,2140,2315.0,2328,US,242,...,7,9,0,NaN,0,0,0,0,0,0
581347,2006,2,1,3,1934.0,1930,2116.0,2118,US,520,...,6,16,0,NaN,0,0,0,0,0,0
581348,2006,2,6,1,1932.0,1930,2107.0,2118,US,520,...,9,8,0,NaN,0,0,0,0,0,0
581349,2006,2,7,2,1924.0,1930,2100.0,2118,US,520,...,6,15,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1111155,2006,2,26,7,1447.0,1405,1655.0,1605,DL,611,...,5,22,0,NaN,0,42,0,8,0,0
1111293,2006,2,26,7,1558.0,1557,1811.0,1756,DL,798,...,9,18,0,NaN,0,0,0,15,0,0
1111416,2006,2,26,7,1152.0,1155,1347.0,1353,DL,934,...,9,10,0,NaN,0,0,0,0,0,0
1112393,2006,2,27,1,2149.0,2145,2346.0,2343,DL,384,...,5,27,0,NaN,0,0,0,0,0,0
1112469,2006,2,27,1,749.0,750,953.0,945,DL,469,...,9,12,0,NaN,0,0,0,0,0,0

In [33]:
marDTW06 = DTW06[DTW06['Month']==3]
marDTW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1112605,2006,3,13,1,1934.0,1925,2130.0,2112,US,750,...,9,22,0,NaN,0,9,0,9,0,0
1112813,2006,3,13,1,2142.0,2130,2323.0,2318,US,1158,...,10,13,0,NaN,0,0,0,0,0,0
1113553,2006,3,14,2,1926.0,1925,2121.0,2112,US,750,...,7,31,0,NaN,0,0,0,0,0,0
1113758,2006,3,14,2,2145.0,2130,2324.0,2318,US,1158,...,3,14,0,NaN,0,0,0,0,0,0
1114500,2006,3,15,3,1926.0,1925,2117.0,2112,US,750,...,8,19,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716548,2006,3,29,3,729.0,735,933.0,938,DL,469,...,7,19,0,NaN,0,0,0,0,0,0
1716687,2006,3,29,3,1956.0,1959,2157.0,2158,DL,606,...,5,27,0,NaN,0,0,0,0,0,0
1716691,2006,3,29,3,1403.0,1405,1559.0,1607,DL,611,...,7,16,0,NaN,0,0,0,0,0,0
1716827,2006,3,29,3,1609.0,1558,1801.0,1800,DL,798,...,3,14,0,NaN,0,0,0,0,0,0
1716950,2006,3,29,3,1150.0,1154,1347.0,1353,DL,934,...,4,24,0,NaN,0,0,0,0,0,0

In [34]:
aprDTW06 = DTW06[DTW06['Month']==4]
aprDTW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1719916,2006,4,2,7,2135.0,2130,2259.0,2317,US,242,...,5,10,0,NaN,0,0,0,0,0,0
1719917,2006,4,8,6,2138.0,2130,2307.0,2317,US,242,...,5,12,0,NaN,0,0,0,0,0,0
1719918,2006,4,9,7,2154.0,2130,2332.0,2317,US,242,...,5,19,0,NaN,0,11,0,0,0,4
1719919,2006,4,15,6,2144.0,2130,2344.0,2317,US,242,...,5,26,0,NaN,0,14,0,13,0,0
1719920,2006,4,16,7,2129.0,2130,2257.0,2317,US,242,...,4,9,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2302164,2006,4,27,4,732.0,735,940.0,933,DL,469,...,8,30,0,NaN,0,0,0,0,0,0
2302317,2006,4,27,4,1410.0,1405,1558.0,1607,DL,611,...,10,13,0,NaN,0,0,0,0,0,0
2302360,2006,4,27,4,1952.0,1959,2158.0,2157,DL,658,...,17,23,0,NaN,0,0,0,0,0,0
2302452,2006,4,27,4,1558.0,1558,1801.0,1755,DL,798,...,8,20,0,NaN,0,0,0,0,0,0
2302574,2006,4,27,4,1152.0,1154,1349.0,1351,DL,934,...,10,19,0,NaN,0,0,0,0,0,0

In [35]:
mayDTW06 = DTW06[DTW06['Month']==5]
mayDTW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2305140,2006,5,7,7,1936.0,1935,2106.0,2123,US,448,...,6,12,0,NaN,0,0,0,0,0,0
2305141,2006,5,8,1,1935.0,1935,2111.0,2123,US,448,...,5,15,0,NaN,0,0,0,0,0,0
2305142,2006,5,9,2,1928.0,1935,2107.0,2123,US,448,...,5,14,0,NaN,0,0,0,0,0,0
2305143,2006,5,10,3,1929.0,1935,2101.0,2123,US,448,...,5,12,0,NaN,0,0,0,0,0,0
2305144,2006,5,11,4,1932.0,1935,2103.0,2123,US,448,...,11,11,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2904369,2006,5,29,1,1401.0,1405,1542.0,1603,DL,1643,...,6,11,0,NaN,0,0,0,0,0,0
2904813,2006,5,30,2,757.0,759,943.0,954,DL,571,...,10,10,0,NaN,0,0,0,0,0,0
2904841,2006,5,30,2,2000.0,1952,2153.0,2153,DL,606,...,9,17,0,NaN,0,0,0,0,0,0
2904968,2006,5,30,2,1551.0,1555,1756.0,1752,DL,798,...,7,19,0,NaN,0,0,0,0,0,0
2905660,2006,5,30,2,1405.0,1405,1558.0,1603,DL,1643,...,6,10,0,NaN,0,0,0,0,0,0

In [36]:
junDTW06 = DTW06[DTW06['Month']==6]
junDTW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2908985,2006,6,1,4,2017.0,1935,2147.0,2123,US,448,...,6,8,0,NaN,0,0,0,0,0,24
2908986,2006,6,2,5,1954.0,1935,2129.0,2123,US,448,...,9,15,0,NaN,0,0,0,0,0,0
2908987,2006,6,3,6,1932.0,1935,2058.0,2123,US,448,...,4,11,0,NaN,0,0,0,0,0,0
2908988,2006,6,10,6,1934.0,1935,2119.0,2120,US,628,...,4,24,0,NaN,0,0,0,0,0,0
2908989,2006,6,17,6,1930.0,1935,2111.0,2120,US,628,...,4,22,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3503798,2006,6,29,4,906.0,906,1110.0,1102,DL,502,...,9,25,0,NaN,0,0,0,0,0,0
3503896,2006,6,29,4,2015.0,1945,2216.0,2139,DL,608,...,10,23,0,NaN,0,30,0,7,0,0
3503898,2006,6,29,4,1400.0,1404,1602.0,1601,DL,611,...,8,20,0,NaN,0,0,0,0,0,0
3504034,2006,6,29,4,1536.0,1537,1728.0,1734,DL,798,...,5,14,0,NaN,0,0,0,0,0,0
3504152,2006,6,29,4,1158.0,1200,1357.0,1352,DL,934,...,7,18,0,NaN,0,0,0,0,0,0

In [37]:
julDTW06 = DTW06[DTW06['Month']==7]
julDTW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3504372,2006,7,3,1,1213.0,1205,1442.0,1430,WN,1447,...,5,7,0,NaN,0,0,0,0,0,0
3505536,2006,7,3,1,1327.0,1320,1522.0,1535,WN,505,...,6,7,0,NaN,0,0,0,0,0,0
3505537,2006,7,3,1,1000.0,1000,1158.0,1205,WN,707,...,7,11,0,NaN,0,0,0,0,0,0
3505538,2006,7,3,1,1807.0,1750,2013.0,2000,WN,2597,...,5,19,0,NaN,0,0,0,0,0,0
3505539,2006,7,3,1,1145.0,1145,1352.0,1345,WN,2628,...,7,15,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4124994,2006,7,30,7,904.0,906,1056.0,1102,DL,502,...,4,15,0,NaN,0,0,0,0,0,0
4125092,2006,7,30,7,1936.0,1927,2137.0,2121,DL,608,...,6,30,0,NaN,0,9,0,7,0,0
4125094,2006,7,30,7,1412.0,1404,1651.0,1601,DL,611,...,9,15,0,NaN,0,8,0,42,0,0
4125234,2006,7,30,7,1543.0,1537,1745.0,1734,DL,798,...,16,17,0,NaN,0,0,0,0,0,0
4125354,2006,7,30,7,1200.0,1200,1355.0,1352,DL,934,...,7,15,0,NaN,0,0,0,0,0,0

In [38]:
augDTW06 = DTW06[DTW06['Month']==8]
augDTW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4126720,2006,8,3,4,1612.0,1555,1828.0,1805,WN,260,...,4,22,0,NaN,0,4,0,6,0,13
4126721,2006,8,3,4,1400.0,1320,1607.0,1535,WN,505,...,9,12,0,NaN,0,19,0,0,0,13
4126722,2006,8,3,4,1023.0,1000,1224.0,1205,WN,707,...,3,11,0,NaN,0,0,19,0,0,0
4126723,2006,8,3,4,2132.0,2055,2322.0,2255,WN,714,...,5,10,0,NaN,0,17,0,0,0,10
4126724,2006,8,3,4,810.0,810,1018.0,1010,WN,1340,...,8,17,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753025,2006,8,30,3,902.0,906,1058.0,1102,DL,502,...,6,28,0,NaN,0,0,0,0,0,0
4753125,2006,8,30,3,1927.0,1927,2124.0,2121,DL,608,...,7,29,0,NaN,0,0,0,0,0,0
4753127,2006,8,30,3,1400.0,1404,1547.0,1601,DL,611,...,6,23,0,NaN,0,0,0,0,0,0
4753264,2006,8,30,3,1545.0,1537,1733.0,1734,DL,798,...,10,17,0,NaN,0,0,0,0,0,0
4753398,2006,8,30,3,1156.0,1200,1344.0,1352,DL,934,...,5,21,0,NaN,0,0,0,0,0,0

In [39]:
sepDTW06 = DTW06[DTW06['Month']==9]
sepDTW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4754325,2006,9,3,7,1202.0,1205,1427.0,1430,WN,1447,...,5,14,0,NaN,0,0,0,0,0,0
4754326,2006,9,3,7,1922.0,1930,2150.0,2200,WN,2701,...,10,10,0,NaN,0,0,0,0,0,0
4755362,2006,9,3,7,1551.0,1555,1809.0,1805,WN,260,...,6,13,0,NaN,0,0,0,0,0,0
4755363,2006,9,3,7,1324.0,1320,1511.0,1535,WN,505,...,3,6,0,NaN,0,0,0,0,0,0
4755364,2006,9,3,7,957.0,1000,1148.0,1205,WN,2039,...,3,6,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5337507,2006,9,30,6,1400.0,1404,1554.0,1555,DL,611,...,7,14,0,NaN,0,0,0,0,0,0
5337641,2006,9,30,6,1605.0,1545,1827.0,1741,DL,798,...,4,20,0,NaN,0,18,0,26,0,2
5337820,2006,9,30,6,1046.0,1048,1312.0,1248,DL,1122,...,5,29,0,NaN,0,0,0,24,0,0
5338058,2006,9,30,6,2251.0,2145,45.0,2336,DL,1512,...,9,14,0,NaN,0,66,0,3,0,0
5338145,2006,9,30,6,1228.0,1232,1432.0,1425,DL,1602,...,5,17,0,NaN,0,0,0,0,0,0

In [40]:
octDTW06 = DTW06[DTW06['Month']==10]
octDTW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5339526,2006,10,3,2,1604.0,1555,1828.0,1805,WN,260,...,5,11,0,NaN,0,2,0,14,0,7
5339527,2006,10,3,2,1331.0,1325,1532.0,1535,WN,505,...,6,12,0,NaN,0,0,0,0,0,0
5339528,2006,10,3,2,956.0,955,1154.0,1200,WN,707,...,3,12,0,NaN,0,0,0,0,0,0
5339529,2006,10,3,2,2057.0,2100,2304.0,2255,WN,714,...,7,15,0,NaN,0,0,0,0,0,0
5339530,2006,10,3,2,810.0,810,1003.0,1010,WN,1340,...,3,7,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5949780,2006,10,31,2,1401.0,1403,1559.0,1555,DL,611,...,7,22,0,NaN,0,0,0,0,0,0
5950131,2006,10,31,2,1047.0,1047,1251.0,1249,DL,1122,...,5,28,0,NaN,0,0,0,0,0,0
5950415,2006,10,31,2,2144.0,2145,2339.0,2338,DL,1512,...,6,26,0,NaN,0,0,0,0,0,0
5950507,2006,10,31,2,1233.0,1236,1424.0,1430,DL,1602,...,5,17,0,NaN,0,0,0,0,0,0
5950587,2006,10,31,2,1618.0,1535,1811.0,1729,DL,1670,...,8,23,0,NaN,0,42,0,0,0,0

In [41]:
novDTW06 = DTW06[DTW06['Month']==11]
novDTW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5952024,2006,11,3,5,1712.0,1610,1910.0,1810,WN,260,...,4,12,0,NaN,0,4,0,0,0,56
5952025,2006,11,3,5,1333.0,1335,1535.0,1535,WN,505,...,7,10,0,NaN,0,0,0,0,0,0
5952026,2006,11,3,5,939.0,940,1137.0,1145,WN,707,...,5,11,0,NaN,0,0,0,0,0,0
5952027,2006,11,3,5,2108.0,2100,2300.0,2255,WN,714,...,3,7,0,NaN,0,0,0,0,0,0
5952028,2006,11,3,5,807.0,805,958.0,1005,WN,1340,...,2,8,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6535938,2006,11,29,3,1958.0,1916,2157.0,2118,DL,434,...,6,20,0,NaN,0,39,0,0,0,0
6536475,2006,11,29,3,1048.0,1047,1314.0,1250,DL,1122,...,5,26,0,NaN,0,0,0,24,0,0
6536783,2006,11,29,3,2144.0,2145,2327.0,2339,DL,1512,...,6,14,0,NaN,0,0,0,0,0,0
6536879,2006,11,29,3,1234.0,1237,1432.0,1432,DL,1602,...,10,14,0,NaN,0,0,0,0,0,0
6536956,2006,11,29,3,1553.0,1535,1757.0,1730,DL,1670,...,11,18,0,NaN,0,0,0,9,0,18

In [42]:
decDTW06 = DTW06[DTW06['Month']==12]
decDTW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
6537977,2006,12,3,7,1611.0,1610,1833.0,1810,WN,260,...,4,9,0,NaN,0,0,0,23,0,0
6537978,2006,12,3,7,1406.0,1335,1613.0,1535,WN,505,...,8,11,0,NaN,0,8,0,7,0,23
6537979,2006,12,3,7,942.0,940,1142.0,1145,WN,707,...,7,8,0,NaN,0,0,0,0,0,0
6537980,2006,12,3,7,2100.0,2100,2300.0,2255,WN,714,...,7,10,0,NaN,0,0,0,0,0,0
6537981,2006,12,3,7,1804.0,1750,2011.0,1955,WN,2597,...,7,12,0,NaN,0,1,0,2,0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7141488,2006,12,29,5,1024.0,1024,1224.0,1231,DL,1122,...,6,20,0,NaN,0,0,0,0,0,0
7141752,2006,12,29,5,2145.0,2145,2333.0,2340,DL,1512,...,5,15,0,NaN,0,0,0,0,0,0
7141844,2006,12,29,5,1240.0,1242,1438.0,1442,DL,1602,...,5,18,0,NaN,0,0,0,0,0,0
7141868,2006,12,29,5,958.0,955,1528.0,1538,DL,1621,...,8,24,0,NaN,0,0,0,0,0,0
7141912,2006,12,29,5,1511.0,1514,1702.0,1715,DL,1670,...,8,13,0,NaN,0,0,0,0,0,0

In [43]:
##subsetting DTW by months in 2007
janDTW07 = DTW07[DTW07['Month']==1]
janDTW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
85,2007,1,1,1,2112.0,2110,2322.0,2330,WN,198,...,4,6,0,NaN,0,0,0,0,0,0
86,2007,1,1,1,1657.0,1700,1920.0,1925,WN,1880,...,7,7,0,NaN,0,0,0,0,0,0
430,2007,1,2,2,1159.0,1205,1425.0,1435,WN,1447,...,5,12,0,NaN,0,0,0,0,0,0
431,2007,1,2,2,806.0,805,1028.0,1035,WN,2281,...,4,10,0,NaN,0,0,0,0,0,0
432,2007,1,2,2,2035.0,2010,2257.0,2240,WN,2701,...,4,8,0,NaN,0,4,0,0,0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620184,2007,1,16,2,1018.0,1018,1229.0,1225,DL,1685,...,27,20,0,NaN,0,0,0,0,0,0
620537,2007,1,17,3,959.0,1006,1553.0,1551,DL,421,...,10,23,0,NaN,0,0,0,0,0,0
620546,2007,1,17,3,1926.0,1905,2110.0,2104,DL,434,...,6,12,0,NaN,0,0,0,0,0,0
621468,2007,1,17,3,1505.0,1509,1701.0,1710,DL,1670,...,7,19,0,NaN,0,0,0,0,0,0
621485,2007,1,17,3,1016.0,1018,1206.0,1225,DL,1685,...,6,16,0,NaN,0,0,0,0,0,0

In [44]:
febDTW07 = DTW07[DTW07['Month']==2]
febDTW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
621966,2007,2,1,4,1917.0,1905,2223.0,2155,WN,1020,...,6,49,0,NaN,0,0,0,16,0,12
622084,2007,2,1,4,1600.0,1600,1813.0,1805,WN,260,...,7,14,0,NaN,0,0,0,0,0,0
622085,2007,2,1,4,1325.0,1330,1517.0,1535,WN,505,...,4,7,0,NaN,0,0,0,0,0,0
622086,2007,2,1,4,933.0,935,1134.0,1140,WN,707,...,8,6,0,NaN,0,0,0,0,0,0
622087,2007,2,1,4,2113.0,2105,2308.0,2300,WN,862,...,8,5,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185478,2007,2,14,3,1919.0,1905,2117.0,2104,DL,434,...,10,20,0,NaN,0,0,0,0,0,0
1186371,2007,2,14,3,1509.0,1509,1706.0,1710,DL,1670,...,10,20,0,NaN,0,0,0,0,0,0
1186390,2007,2,14,3,1111.0,1020,1304.0,1227,DL,1685,...,9,20,0,NaN,0,37,0,0,0,0
1186747,2007,2,15,4,1004.0,1005,1623.0,1550,DL,421,...,10,46,0,NaN,0,0,0,33,0,0
1186759,2007,2,15,4,1904.0,1815,2058.0,2014,DL,434,...,6,17,0,NaN,0,0,0,0,0,44

In [47]:
marDTW07 = DTW07[DTW07['Month']==3]
marDTW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1187879,2007,3,1,4,1936.0,1905,2158.0,2155,WN,1020,...,4,11,0,NaN,0,0,0,0,0,0
1187997,2007,3,1,4,1614.0,1600,1814.0,1805,WN,260,...,8,15,0,NaN,0,0,0,0,0,0
1187998,2007,3,1,4,1350.0,1330,1643.0,1535,WN,505,...,6,69,0,NaN,0,0,0,68,0,0
1187999,2007,3,1,4,937.0,935,1152.0,1140,WN,707,...,8,11,0,NaN,0,0,0,0,0,0
1188000,2007,3,1,4,2103.0,2105,2256.0,2300,WN,862,...,7,9,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824492,2007,3,15,4,1813.0,1815,2024.0,2020,DL,434,...,12,24,0,NaN,0,0,0,0,0,0
1825097,2007,3,15,4,1002.0,1006,1520.0,1551,DL,1100,...,3,24,0,NaN,0,0,0,0,0,0
1825129,2007,3,15,4,1049.0,1038,1234.0,1241,DL,1122,...,7,12,0,NaN,0,0,0,0,0,0
1825539,2007,3,15,4,1518.0,1509,1708.0,1709,DL,1670,...,8,18,0,NaN,0,0,0,0,0,0
1825876,2007,3,16,5,1944.0,1815,2127.0,2020,DL,434,...,5,21,0,NaN,0,67,0,0,0,0

In [46]:
aprDTW07 = DTW07[DTW07['Month']==4]
aprDTW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1826888,2007,4,1,7,850.0,850,1121.0,1115,WN,537,...,6,6,0,NaN,0,0,0,0,0,0
1826889,2007,4,1,7,1621.0,1625,1835.0,1855,WN,1064,...,3,5,0,NaN,0,0,0,0,0,0
1826890,2007,4,1,7,2006.0,2005,2223.0,2225,WN,1281,...,5,8,0,NaN,0,0,0,0,0,0
1827245,2007,4,2,1,1226.0,1230,1451.0,1500,WN,306,...,7,7,0,NaN,0,0,0,0,0,0
1827246,2007,4,2,1,1554.0,1555,1818.0,1825,WN,1194,...,3,9,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2439641,2007,4,15,7,1854.0,1815,2056.0,2020,DL,434,...,9,25,0,NaN,0,36,0,0,0,0
2440226,2007,4,15,7,1005.0,1005,1601.0,1556,DL,1100,...,8,27,0,NaN,0,0,0,0,0,0
2440250,2007,4,15,7,1044.0,1038,1237.0,1243,DL,1122,...,8,22,0,NaN,0,0,0,0,0,0
2440659,2007,4,15,7,1506.0,1510,1656.0,1710,DL,1670,...,9,20,0,NaN,0,0,0,0,0,0
2440941,2007,4,16,1,1825.0,1815,2029.0,2020,DL,434,...,10,13,0,NaN,0,0,0,0,0,0

In [48]:
mayDTW07 = DTW07[DTW07['Month']==5]
mayDTW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2441968,2007,5,2,3,1319.0,1320,1547.0,1610,WN,2194,...,4,6,0,NaN,0,0,0,0,0,0
2442090,2007,5,2,3,1005.0,955,1159.0,1155,WN,488,...,5,8,0,NaN,0,0,0,0,0,0
2442091,2007,5,2,3,1756.0,1800,2020.0,2005,WN,643,...,5,26,0,NaN,0,0,0,15,0,0
2442092,2007,5,2,3,NaN,1155,NaN,1355,WN,1082,...,0,0,1,A,0,0,0,0,0,0
2442093,2007,5,2,3,2135.0,2135,2328.0,2330,WN,1352,...,5,11,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3071439,2007,5,17,4,2152.0,2155,2352.0,2351,DL,436,...,6,28,0,NaN,0,0,0,0,0,0
3072014,2007,5,17,4,1012.0,1010,1608.0,1551,DL,1100,...,11,20,0,NaN,0,0,0,17,0,0
3072038,2007,5,17,4,938.0,939,1134.0,1142,DL,1122,...,4,16,0,NaN,0,0,0,0,0,0
3072235,2007,5,17,4,1241.0,1241,1434.0,1442,DL,1418,...,5,14,0,NaN,0,0,0,0,0,0
3072450,2007,5,17,4,1528.0,1530,1711.0,1732,DL,1670,...,7,14,0,NaN,0,0,0,0,0,0

In [49]:
junDTW07 = DTW07[DTW07['Month']==6]
junDTW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3072645,2007,6,1,5,1802.0,1805,37.0,50,WN,550,...,5,12,0,NaN,0,0,0,0,0,0
3072646,2007,6,1,5,854.0,835,1534.0,1535,WN,2040,...,9,11,0,NaN,0,0,0,0,0,0
3073413,2007,6,1,5,859.0,900,1127.0,1125,WN,537,...,4,12,0,NaN,0,0,0,0,0,0
3073414,2007,6,1,5,1627.0,1620,1850.0,1850,WN,1064,...,6,9,0,NaN,0,0,0,0,0,0
3073415,2007,6,1,5,2250.0,1930,105.0,2155,WN,1669,...,6,10,0,NaN,0,0,17,0,0,173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3701015,2007,6,17,7,1921.0,1920,2131.0,2120,DL,556,...,11,28,0,NaN,0,0,0,0,0,0
3701180,2007,6,17,7,1012.0,1015,1612.0,1557,DL,740,...,10,29,0,NaN,0,0,0,15,0,0
3701248,2007,6,17,7,1559.0,1539,1754.0,1742,DL,830,...,5,15,0,NaN,0,0,0,0,0,0
3701746,2007,6,17,7,2209.0,2155,2358.0,2350,DL,1512,...,7,15,0,NaN,0,0,0,0,0,0
3701822,2007,6,17,7,1330.0,1317,1518.0,1512,DL,1602,...,5,14,0,NaN,0,0,0,0,0,0

In [50]:
julDTW07 = DTW07[DTW07['Month']==7]
julDTW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3702093,2007,7,1,7,1801.0,1805,44.0,50,WN,550,...,6,7,0,NaN,0,0,0,0,0,0
3702094,2007,7,1,7,847.0,835,1537.0,1535,WN,2040,...,5,11,0,NaN,0,0,0,0,0,0
3702812,2007,7,1,7,857.0,900,1119.0,1125,WN,537,...,3,13,0,NaN,0,0,0,0,0,0
3702813,2007,7,1,7,1621.0,1620,1839.0,1850,WN,1064,...,4,12,0,NaN,0,0,0,0,0,0
3702814,2007,7,1,7,2040.0,1930,2304.0,2155,WN,1669,...,7,9,0,NaN,0,11,0,0,0,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4349389,2007,7,17,2,2237.0,2155,27.0,2350,DL,1512,...,6,23,0,NaN,0,2,0,0,0,35
4349470,2007,7,17,2,1324.0,1317,1532.0,1512,DL,1602,...,6,33,0,NaN,0,7,0,13,0,0
4350215,2007,7,18,3,1017.0,1015,1556.0,1557,DL,740,...,8,25,0,NaN,0,0,0,0,0,0
4350274,2007,7,18,3,1605.0,1539,1817.0,1742,DL,830,...,9,32,0,NaN,0,14,0,9,0,12
4350279,2007,7,18,3,1938.0,1920,2134.0,2120,DL,842,...,14,13,0,NaN,0,0,0,0,0,0

In [51]:
augDTW07 = DTW07[DTW07['Month']==8]
augDTW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4350622,2007,8,2,4,2124.0,2040,2236.0,2210,WN,75,...,2,6,0,NaN,0,3,0,0,0,23
4350623,2007,8,2,4,846.0,840,1002.0,1010,WN,387,...,7,13,0,NaN,0,0,0,0,0,0
4350624,2007,8,2,4,1630.0,1605,1757.0,1735,WN,890,...,9,13,0,NaN,0,22,0,0,0,0
4350625,2007,8,2,4,959.0,1000,1120.0,1130,WN,2581,...,7,8,0,NaN,0,0,0,0,0,0
4351845,2007,8,2,4,1329.0,1330,1607.0,1610,WN,1114,...,8,22,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5002546,2007,8,16,4,1320.0,1320,1508.0,1515,DL,1602,...,5,17,0,NaN,0,0,0,0,0,0
5003271,2007,8,17,5,NaN,1016,NaN,1558,DL,740,...,0,0,1,A,0,0,0,0,0,0
5003334,2007,8,17,5,1558.0,1539,1804.0,1742,DL,830,...,12,15,0,NaN,0,12,0,3,0,7
5003338,2007,8,17,5,1920.0,1920,2138.0,2120,DL,842,...,15,33,0,NaN,0,0,0,18,0,0
5003579,2007,8,17,5,937.0,939,1134.0,1144,DL,1122,...,5,18,0,NaN,0,0,0,0,0,0

In [52]:
sepDTW07 = DTW07[DTW07['Month']==9]
sepDTW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5004060,2007,9,2,7,901.0,905,1120.0,1130,WN,537,...,6,8,0,NaN,0,0,0,0,0,0
5004061,2007,9,2,7,1832.0,1830,2050.0,2050,WN,1054,...,3,8,0,NaN,0,0,0,0,0,0
5004062,2007,9,2,7,1619.0,1620,1837.0,1845,WN,1064,...,3,9,0,NaN,0,0,0,0,0,0
5004359,2007,9,3,1,1221.0,1225,1444.0,1455,WN,306,...,5,8,0,NaN,0,0,0,0,0,0
5004360,2007,9,3,1,1655.0,1635,1923.0,1905,WN,1194,...,9,6,0,NaN,0,18,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5602625,2007,9,16,7,1000.0,1008,1528.0,1547,DL,740,...,4,27,0,NaN,0,0,0,0,0,0
5602685,2007,9,16,7,1923.0,1925,2110.0,2123,DL,842,...,5,13,0,NaN,0,0,0,0,0,0
5602894,2007,9,16,7,1522.0,1506,1710.0,1705,DL,1098,...,7,12,0,NaN,0,0,0,0,0,0
5602917,2007,9,16,7,957.0,948,1144.0,1152,DL,1122,...,5,15,0,NaN,0,0,0,0,0,0
5603164,2007,9,16,7,2155.0,2155,2400.0,2349,DL,1512,...,6,32,0,NaN,0,0,0,0,0,0

In [53]:
octDTW07 = DTW07[DTW07['Month']==10]
octDTW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5604514,2007,10,2,2,1353.0,1355,1626.0,1625,WN,1114,...,6,15,0,NaN,0,0,0,0,0,0
5604515,2007,10,2,2,2016.0,2015,2238.0,2245,WN,1268,...,6,8,0,NaN,0,0,0,0,0,0
5604643,2007,10,2,2,1015.0,1010,1217.0,1215,WN,488,...,7,8,0,NaN,0,0,0,0,0,0
5604644,2007,10,2,2,1808.0,1805,2019.0,2015,WN,643,...,7,13,0,NaN,0,0,0,0,0,0
5604645,2007,10,2,2,2150.0,2150,2351.0,2350,WN,1352,...,5,11,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6232896,2007,10,16,2,1505.0,1506,1654.0,1708,DL,1098,...,5,11,0,NaN,0,0,0,0,0,0
6232911,2007,10,16,2,1004.0,1005,1221.0,1213,DL,1122,...,6,45,0,NaN,0,0,0,0,0,0
6233131,2007,10,16,2,2151.0,2155,2354.0,2351,DL,1512,...,6,33,0,NaN,0,0,0,0,0,0
6233143,2007,10,16,2,NaN,813,NaN,1020,DL,1530,...,0,0,1,B,0,0,0,0,0,0
6233205,2007,10,16,2,1249.0,1251,1446.0,1450,DL,1602,...,10,9,0,NaN,0,0,0,0,0,0

In [54]:
novDTW07 = DTW07[DTW07['Month']==11]
novDTW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
6234626,2007,11,2,5,917.0,915,1138.0,1140,WN,293,...,4,8,0,NaN,0,0,0,0,0,0
6234627,2007,11,2,5,1644.0,1640,1901.0,1905,WN,1064,...,5,9,0,NaN,0,0,0,0,0,0
6234628,2007,11,2,5,1931.0,1935,2155.0,2155,WN,1669,...,8,11,0,NaN,0,0,0,0,0,0
6234950,2007,11,3,6,1225.0,1225,1447.0,1455,WN,306,...,3,12,0,NaN,0,0,0,0,0,0
6234951,2007,11,3,6,758.0,800,1018.0,1035,WN,1762,...,5,10,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6837845,2007,11,15,4,2210.0,2201,21.0,2354,DL,1512,...,9,26,0,NaN,0,9,0,18,0,0
6837933,2007,11,15,4,1259.0,1301,1448.0,1500,DL,1602,...,8,12,0,NaN,0,0,0,0,0,0
6838737,2007,11,16,5,1915.0,1915,2116.0,2117,DL,842,...,9,16,0,NaN,0,0,0,0,0,0
6838955,2007,11,16,5,1500.0,1505,1654.0,1702,DL,1098,...,6,12,0,NaN,0,0,0,0,0,0
6838973,2007,11,16,5,942.0,945,1135.0,1148,DL,1122,...,5,14,0,NaN,0,0,0,0,0,0

In [55]:
decDTW07 = DTW07[DTW07['Month']==12]
decDTW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
6839814,2007,12,2,7,2123.0,2030,2341.0,2250,WN,2889,...,8,5,0,NaN,0,4,0,0,0,47
6839815,2007,12,2,7,1529.0,1525,1747.0,1755,WN,3949,...,8,6,0,NaN,0,0,0,0,0,0
6840189,2007,12,3,1,1435.0,1410,1711.0,1645,WN,249,...,3,9,0,NaN,0,0,0,1,0,25
6840190,2007,12,3,1,910.0,915,1142.0,1145,WN,1592,...,7,9,0,NaN,0,0,0,0,0,0
6840191,2007,12,3,1,1850.0,1840,2128.0,2110,WN,3238,...,7,10,0,NaN,0,0,0,8,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7451451,2007,12,13,4,1255.0,1301,1448.0,1500,DL,1588,...,8,16,0,NaN,0,0,0,0,0,0
7452175,2007,12,14,5,953.0,955,1518.0,1537,DL,740,...,7,27,0,NaN,0,0,0,0,0,0
7452234,2007,12,14,5,1913.0,1916,2106.0,2118,DL,842,...,7,25,0,NaN,0,0,0,0,0,0
7452566,2007,12,14,5,826.0,829,1024.0,1029,DL,1220,...,9,22,0,NaN,0,0,0,0,0,0
7452822,2007,12,14,5,1300.0,1301,1456.0,1500,DL,1588,...,9,24,0,NaN,0,0,0,0,0,0

In [56]:
##subsetting DFW by months in 2006
janDFW06 = DFW06[DFW06['Month']==1]
janDFW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
185,2006,1,11,3,1428.0,1430,1603.0,1626,US,401,...,3,12,0,NaN,0,0,0,0,0,0
186,2006,1,11,3,1911.0,1915,2048.0,2108,US,1183,...,10,10,0,NaN,0,0,0,0,0,0
187,2006,1,11,3,746.0,750,925.0,947,US,1219,...,10,10,0,NaN,0,0,0,0,0,0
374,2006,1,11,3,1921.0,1915,2130.0,2144,US,1621,...,12,10,0,NaN,0,0,0,0,0,0
375,2006,1,11,3,830.0,825,1044.0,1055,US,1685,...,4,19,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580284,2006,1,29,7,2237.0,2235,2336.0,2353,DL,1201,...,4,13,0,NaN,0,0,0,0,0,0
580471,2006,1,29,7,1006.0,1008,1338.0,1343,DL,1543,...,8,28,0,NaN,0,0,0,0,0,0
580974,2006,1,30,1,846.0,830,959.0,952,DL,267,...,8,12,0,NaN,0,0,0,0,0,0
581041,2006,1,30,1,1704.0,1710,2028.0,2049,DL,357,...,5,15,0,NaN,0,0,0,0,0,0
581116,2006,1,30,1,1522.0,1422,1648.0,1543,DL,439,...,10,19,0,NaN,0,0,0,5,0,60

In [57]:
febDFW06 = DFW06[DFW06['Month']==2]
febDFW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
581287,2006,2,11,6,NaN,1430,NaN,1717,US,1667,...,0,0,1,B,0,0,0,0,0,0
581288,2006,2,1,3,823.0,825,1103.0,1055,US,1685,...,10,19,0,NaN,0,0,0,0,0,0
581289,2006,2,2,4,817.0,825,1051.0,1055,US,1685,...,16,12,0,NaN,0,0,0,0,0,0
581290,2006,2,3,5,855.0,825,1119.0,1055,US,1685,...,14,12,0,NaN,0,24,0,0,0,0
581291,2006,2,6,1,851.0,825,1135.0,1055,US,1685,...,11,15,0,NaN,0,26,0,14,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1111816,2006,2,26,7,1009.0,1008,1329.0,1343,DL,1543,...,7,12,0,NaN,0,0,0,0,0,0
1111963,2006,2,26,7,2233.0,2235,2339.0,2353,DL,1754,...,5,13,0,NaN,0,0,0,0,0,0
1112298,2006,2,27,1,839.0,830,1003.0,952,DL,267,...,13,15,0,NaN,0,0,0,0,0,0
1112367,2006,2,27,1,1705.0,1710,2022.0,2049,DL,357,...,7,11,0,NaN,0,0,0,0,0,0
1112442,2006,2,27,1,1443.0,1445,1606.0,1606,DL,439,...,5,21,0,NaN,0,0,0,0,0,0

In [58]:
marDFW06 = DFW06[DFW06['Month']==3]
marDFW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1112657,2006,3,13,1,801.0,800,1058.0,1055,US,887,...,8,33,0,NaN,0,0,0,0,0,0
1112669,2006,3,13,1,1738.0,1735,1958.0,1932,US,915,...,11,21,0,NaN,0,0,0,26,0,0
1112840,2006,3,13,1,749.0,750,938.0,947,US,1219,...,7,13,0,NaN,0,0,0,0,0,0
1112850,2006,3,13,1,942.0,930,1225.0,1231,US,1239,...,3,16,0,NaN,0,0,0,0,0,0
1112920,2006,3,13,1,1430.0,1430,1718.0,1715,US,1623,...,8,9,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1717045,2006,3,29,3,656.0,700,816.0,828,DL,1059,...,7,13,0,NaN,0,0,0,0,0,0
1717086,2006,3,29,3,1814.0,1820,1938.0,1959,DL,1103,...,6,16,0,NaN,0,0,0,0,0,0
1717149,2006,3,29,3,1313.0,1315,1653.0,1647,DL,1174,...,11,18,0,NaN,0,0,0,0,0,0
1717365,2006,3,29,3,1001.0,956,1339.0,1341,DL,1543,...,10,18,0,NaN,0,0,0,0,0,0
1717531,2006,3,29,3,2233.0,2235,2344.0,2351,DL,1754,...,4,15,0,NaN,0,0,0,0,0,0

In [59]:
aprDFW06 = DFW06[DFW06['Month']==4]
aprDFW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1719767,2006,4,1,6,1736.0,1730,2015.0,2031,US,249,...,10,21,0,NaN,0,0,0,0,0,0
1719768,2006,4,2,7,1925.0,1930,2200.0,2208,US,249,...,9,15,0,NaN,0,0,0,0,0,0
1719769,2006,4,3,1,2030.0,1930,2346.0,2208,US,249,...,3,58,0,NaN,0,1,0,38,0,59
1719770,2006,4,4,2,1932.0,1930,2159.0,2208,US,249,...,4,14,0,NaN,0,0,0,0,0,0
1719771,2006,4,5,3,2009.0,1930,2252.0,2208,US,249,...,10,19,0,NaN,0,0,0,5,0,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2302474,2006,4,27,4,1800.0,1800,1930.0,1929,DL,816,...,6,29,0,NaN,0,0,0,0,0,0
2302667,2006,4,27,4,659.0,700,811.0,825,DL,1059,...,5,13,0,NaN,0,0,0,0,0,0
2302702,2006,4,27,4,1816.0,1820,1945.0,1958,DL,1103,...,8,14,0,NaN,0,0,0,0,0,0
2302762,2006,4,27,4,1318.0,1323,1653.0,1652,DL,1174,...,8,26,0,NaN,0,0,0,0,0,0
2302974,2006,4,27,4,953.0,956,1322.0,1341,DL,1543,...,8,22,0,NaN,0,0,0,0,0,0

In [60]:
mayDFW06 = DFW06[DFW06['Month']==5]
mayDFW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2304971,2006,5,1,1,1928.0,1930,2214.0,2208,US,249,...,4,40,0,NaN,0,0,0,0,0,0
2304972,2006,5,2,2,1924.0,1930,2141.0,2208,US,249,...,5,9,0,NaN,0,0,0,0,0,0
2304973,2006,5,3,3,1926.0,1930,2146.0,2208,US,249,...,4,15,0,NaN,0,0,0,0,0,0
2304974,2006,5,4,4,1932.0,1930,2149.0,2208,US,249,...,6,13,0,NaN,0,0,0,0,0,0
2304975,2006,5,5,5,1932.0,1930,2159.0,2208,US,249,...,5,14,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2905370,2006,5,30,2,1543.0,1545,1654.0,1659,DL,1249,...,5,20,0,NaN,0,0,0,0,0,0
2905562,2006,5,30,2,953.0,952,1324.0,1331,DL,1536,...,8,18,0,NaN,0,0,0,0,0,0
2905612,2006,5,30,2,1515.0,1445,1627.0,1557,DL,1595,...,9,15,0,NaN,0,0,0,0,0,30
2905768,2006,5,30,2,2154.0,2154,2304.0,2301,DL,1754,...,6,20,0,NaN,0,0,0,0,0,0
2905990,2006,5,31,3,1706.0,1710,2041.0,2046,DL,357,...,9,22,0,NaN,0,0,0,0,0,0

In [61]:
junDFW06 = DFW06[DFW06['Month']==6]
junDFW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2908831,2006,6,3,6,1756.0,1730,1931.0,1918,US,291,...,11,15,0,NaN,0,0,0,0,0,0
2908832,2006,6,1,4,1930.0,1915,2102.0,2059,US,291,...,15,10,0,NaN,0,0,0,0,0,0
2908833,2006,6,2,5,1925.0,1915,2106.0,2059,US,291,...,8,13,0,NaN,0,0,0,0,0,0
2908834,2006,6,4,7,1929.0,1915,2103.0,2050,US,291,...,4,19,0,NaN,0,0,0,0,0,0
2908835,2006,6,5,1,1919.0,1915,2050.0,2050,US,291,...,14,12,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3504053,2006,6,29,4,1727.0,1730,1843.0,1847,DL,816,...,6,27,0,NaN,0,0,0,0,0,0
3504276,2006,6,29,4,700.0,700,804.0,809,DL,1059,...,3,15,0,NaN,0,0,0,0,0,0
3504317,2006,6,29,4,2028.0,2020,2137.0,2131,DL,1101,...,5,21,0,NaN,0,0,0,0,0,0
3504321,2006,6,29,4,2031.0,2030,2134.0,2144,DL,1103,...,5,8,0,NaN,0,0,0,0,0,0
3504335,2006,6,29,4,834.0,800,946.0,911,DL,1117,...,9,23,0,NaN,0,10,0,1,0,24

In [62]:
julDFW06 = DFW06[DFW06['Month']==7]
julDFW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3592344,2006,7,8,6,1439.0,1435,1553.0,1546,XE,2227,...,10,20,0,NaN,0,0,0,0,0,0
3592431,2006,7,21,5,1039.0,1045,1150.0,1157,XE,3276,...,5,21,0,NaN,0,0,0,0,0,0
3592494,2006,7,30,7,1222.0,1225,1407.0,1409,XE,3044,...,12,10,0,NaN,0,0,0,0,0,0
3592496,2006,7,20,4,1649.0,1645,1825.0,1837,XE,3285,...,5,12,0,NaN,0,0,0,0,0,0
3592634,2006,7,12,3,641.0,640,737.0,743,XE,2971,...,5,9,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4125251,2006,7,30,7,1737.0,1730,1849.0,1847,DL,816,...,7,25,0,NaN,0,0,0,0,0,0
4125465,2006,7,30,7,659.0,700,805.0,809,DL,1059,...,12,12,0,NaN,0,0,0,0,0,0
4125502,2006,7,30,7,2034.0,2020,2141.0,2131,DL,1101,...,5,23,0,NaN,0,0,0,0,0,0
4125506,2006,7,30,7,2030.0,2030,2139.0,2144,DL,1103,...,6,11,0,NaN,0,0,0,0,0,0
4125520,2006,7,30,7,810.0,800,924.0,911,DL,1117,...,10,23,0,NaN,0,0,0,0,0,0

In [63]:
augDFW06 = DFW06[DFW06['Month']==8]
augDFW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4215189,2006,8,23,3,640.0,640,740.0,743,XE,2971,...,7,12,0,NaN,0,0,0,0,0,0
4215231,2006,8,14,1,910.0,915,1020.0,1025,XE,3264,...,13,15,0,NaN,0,0,0,0,0,0
4215472,2006,8,26,6,915.0,915,1021.0,1025,XE,3264,...,10,14,0,NaN,0,0,0,0,0,0
4215519,2006,8,28,1,2217.0,2050,3.0,2237,XE,2748,...,2,18,0,NaN,0,86,0,0,0,0
4215587,2006,8,30,3,637.0,640,742.0,743,XE,2971,...,8,14,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753573,2006,8,30,3,758.0,800,911.0,911,DL,1117,...,12,20,0,NaN,0,0,0,0,0,0
4753780,2006,8,30,3,1009.0,1005,1135.0,1123,DL,1455,...,10,16,0,NaN,0,0,0,0,0,0
4753879,2006,8,30,3,1734.0,1720,2142.0,2059,DL,1546,...,6,59,0,NaN,0,14,0,29,0,0
4754066,2006,8,30,3,2206.0,2212,7.0,2322,DL,1754,...,4,78,0,NaN,0,0,0,45,0,0
4754076,2006,8,30,3,1859.0,1900,2016.0,2014,DL,1768,...,7,27,0,NaN,0,0,0,0,0,0

In [64]:
sepDFW06 = DFW06[DFW06['Month']==9]
sepDFW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4839455,2006,9,4,1,909.0,915,1019.0,1025,XE,3264,...,8,21,0,NaN,0,0,0,0,0,0
4839770,2006,9,2,6,1726.0,1725,1826.0,1845,XE,2156,...,9,9,0,NaN,0,0,0,0,0,0
4839784,2006,9,15,5,1221.0,1225,1404.0,1413,XE,3044,...,9,15,0,NaN,0,0,0,0,0,0
4839874,2006,9,29,5,1038.0,1045,1149.0,1159,XE,3276,...,7,21,0,NaN,0,0,0,0,0,0
4839945,2006,9,9,6,916.0,920,1033.0,1031,XE,3264,...,11,20,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5337818,2006,9,30,6,754.0,800,921.0,912,DL,1117,...,12,27,0,NaN,0,0,0,0,0,0
5338234,2006,9,30,6,1719.0,1725,2059.0,2105,DL,1702,...,9,22,0,NaN,0,0,0,0,0,0
5338249,2006,9,30,6,1927.0,1928,2037.0,2044,DL,1717,...,9,17,0,NaN,0,0,0,0,0,0
5338606,2006,9,1,5,1235.0,1235,1349.0,1353,EV,4089,...,9,16,0,NaN,0,0,0,0,0,0
5338607,2006,9,4,1,1233.0,1235,1410.0,1353,EV,4089,...,14,15,0,NaN,0,0,0,17,0,0

In [65]:
octDFW06 = DFW06[DFW06['Month']==10]
octDFW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5427927,2006,10,14,6,1432.0,1435,1536.0,1547,XE,2136,...,4,18,0,NaN,0,0,0,0,0,0
5428002,2006,10,11,3,1156.0,1145,1257.0,1257,XE,2159,...,6,11,0,NaN,0,0,0,0,0,0
5428362,2006,10,18,3,NaN,1630,NaN,1745,XE,3182,...,0,0,1,B,0,0,0,0,0,0
5428486,2006,10,23,1,1644.0,1630,1759.0,1745,XE,3182,...,11,15,0,NaN,0,0,0,0,0,0
5428623,2006,10,19,4,NaN,1045,NaN,1159,XE,3276,...,0,0,1,B,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5950127,2006,10,31,2,759.0,800,924.0,920,DL,1117,...,9,24,0,NaN,0,0,0,0,0,0
5950271,2006,10,31,2,1446.0,1450,1604.0,1605,DL,1271,...,6,22,0,NaN,0,0,0,0,0,0
5950349,2006,10,31,2,2038.0,2040,2152.0,2155,DL,1452,...,6,18,0,NaN,0,0,0,0,0,0
5950621,2006,10,31,2,1720.0,1725,2044.0,2101,DL,1702,...,12,10,0,NaN,0,0,0,0,0,0
5950638,2006,10,31,2,1930.0,1932,2046.0,2055,DL,1717,...,8,17,0,NaN,0,0,0,0,0,0

In [66]:
novDFW06 = DFW06[DFW06['Month']==11]
novDFW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
6036607,2006,11,15,3,910.0,850,1147.0,1057,XE,2327,...,10,15,0,NaN,0,0,0,50,0,0
6036609,2006,11,6,1,942.0,915,1139.0,1026,XE,3264,...,11,45,0,NaN,0,0,9,46,0,18
6036679,2006,11,19,7,1211.0,1215,1402.0,1418,XE,3044,...,6,12,0,NaN,0,0,0,0,0,0
6036733,2006,11,22,3,1536.0,1525,1722.0,1728,XE,2033,...,5,24,0,NaN,0,0,0,0,0,0
6036847,2006,11,8,3,1217.0,1215,1348.0,1418,XE,3044,...,5,13,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6536436,2006,11,29,3,2125.0,2040,2330.0,2155,DL,1082,...,11,15,0,NaN,0,43,0,50,0,2
6536469,2006,11,29,3,800.0,800,932.0,920,DL,1117,...,7,24,0,NaN,0,0,0,0,0,0
6536632,2006,11,29,3,1457.0,1450,1619.0,1605,DL,1271,...,7,14,0,NaN,0,0,0,0,0,0
6536993,2006,11,29,3,1910.0,1725,2354.0,2101,DL,1702,...,15,12,0,NaN,0,105,0,68,0,0
6537012,2006,11,29,3,NaN,1932,NaN,2055,DL,1717,...,0,0,1,B,0,0,0,0,0,0

In [67]:
decDFW06 = DFW06[DFW06['Month']==12]
decDFW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
6625011,2006,12,4,1,1141.0,1145,1251.0,1255,XE,2159,...,7,18,0,NaN,0,0,0,0,0,0
6625223,2006,12,5,2,859.0,850,1307.0,1057,XE,2327,...,18,136,0,NaN,0,0,9,121,0,0
6625580,2006,12,21,4,1217.0,1215,1429.0,1418,XE,3044,...,4,19,0,NaN,0,0,0,0,0,0
6625662,2006,12,10,7,1200.0,1145,1323.0,1255,XE,2159,...,10,24,0,NaN,0,15,0,13,0,0
6625672,2006,12,20,3,1052.0,1045,1157.0,1159,XE,3276,...,10,16,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7141424,2006,12,29,5,657.0,700,811.0,824,DL,1059,...,5,10,0,NaN,0,0,0,0,0,0
7141446,2006,12,29,5,2125.0,1700,2252.0,1829,DL,1077,...,8,23,0,NaN,0,0,0,263,0,0
7141483,2006,12,29,5,758.0,800,919.0,925,DL,1117,...,8,17,0,NaN,0,0,0,0,0,0
7141623,2006,12,29,5,1530.0,1446,NaN,1601,DL,1271,...,0,13,0,NaN,1,0,0,0,0,0
7141695,2006,12,29,5,2126.0,2050,2315.0,2214,DL,1452,...,10,45,0,NaN,0,36,0,25,0,0

In [68]:
##subsetting DFW by months in 2007
janDFW07 = DFW07[DFW07['Month']==1]
janDFW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
94015,2007,1,30,2,956.0,920,1104.0,1030,XE,2144,...,12,14,0,NaN,0,0,13,0,0,21
94155,2007,1,2,2,1642.0,1645,1836.0,1854,XE,2697,...,13,9,0,NaN,0,0,0,0,0,0
94860,2007,1,3,3,1145.0,1145,1259.0,1258,XE,2159,...,6,25,0,NaN,0,0,0,0,0,0
95351,2007,1,12,5,852.0,835,1102.0,1044,XE,2327,...,15,9,0,NaN,0,17,0,1,0,0
95882,2007,1,24,3,919.0,920,1021.0,1030,XE,2144,...,12,10,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621269,2007,1,17,3,2048.0,2050,2217.0,2214,DL,1452,...,6,14,0,NaN,0,0,0,0,0,0
621493,2007,1,17,3,2224.0,2230,2343.0,2353,DL,1699,...,4,9,0,NaN,0,0,0,0,0,0
621496,2007,1,17,3,1723.0,1736,2048.0,2114,DL,1702,...,9,16,0,NaN,0,0,0,0,0,0
621514,2007,1,17,3,2014.0,1944,2146.0,2110,DL,1717,...,9,17,0,NaN,0,30,0,6,0,0
621522,2007,1,17,3,1000.0,1000,1132.0,1134,DL,1727,...,7,21,0,NaN,0,0,0,0,0,0

In [69]:
febDFW07 = DFW07[DFW07['Month']==2]
febDFW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
707430,2007,2,25,7,1603.0,1600,1711.0,1713,XE,3090,...,5,15,0,NaN,0,0,0,0,0,0
707433,2007,2,24,6,1154.0,1020,NaN,1134,XE,2394,...,0,20,0,NaN,1,0,0,0,0,0
707509,2007,2,27,2,919.0,920,1034.0,1032,XE,2530,...,5,27,0,NaN,0,0,0,0,0,0
707679,2007,2,27,2,1600.0,1600,1703.0,1713,XE,3090,...,7,11,0,NaN,0,0,0,0,0,0
707889,2007,2,1,4,1125.0,1115,1233.0,1227,XE,2159,...,9,17,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1186828,2007,2,15,4,1009.0,1010,1356.0,1355,DL,508,...,10,38,0,NaN,0,0,0,0,0,0
1186845,2007,2,15,4,2023.0,1940,2203.0,2106,DL,532,...,5,34,0,NaN,0,0,0,47,0,10
1186912,2007,2,15,4,1705.0,1624,1855.0,1755,DL,607,...,11,32,0,NaN,0,0,0,19,0,41
1187143,2007,2,15,4,1220.0,1200,1407.0,1323,DL,953,...,5,19,0,NaN,0,20,0,24,0,0
1187148,2007,2,15,4,1012.0,1011,1155.0,1145,DL,960,...,9,33,0,NaN,0,0,0,0,0,0

In [70]:
marDFW07 = DFW07[DFW07['Month']==3]
marDFW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1284398,2007,3,1,4,829.0,835,1048.0,1037,XE,2327,...,5,12,0,NaN,0,0,0,0,0,0
1284399,2007,3,1,4,1706.0,1650,1909.0,1853,XE,2697,...,7,11,0,NaN,0,0,0,0,0,16
1284400,2007,3,1,4,2156.0,2050,3.0,2252,XE,2748,...,5,9,0,NaN,0,0,66,5,0,0
1284401,2007,3,1,4,1311.0,1215,1537.0,1414,XE,3044,...,4,12,0,NaN,0,56,0,27,0,0
1284929,2007,3,1,4,1159.0,1115,1308.0,1227,XE,2159,...,7,21,0,NaN,0,41,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1825938,2007,3,16,5,1004.0,1005,1329.0,1347,DL,508,...,10,17,0,NaN,0,0,0,0,0,0
1826031,2007,3,16,5,1632.0,1625,1747.0,1750,DL,607,...,6,21,0,NaN,0,0,0,0,0,0
1826036,2007,3,16,5,1436.0,1430,1548.0,1555,DL,610,...,8,14,0,NaN,0,0,0,0,0,0
1826126,2007,3,16,5,2038.0,2045,2152.0,2207,DL,694,...,7,18,0,NaN,0,0,0,0,0,0
1826303,2007,3,16,5,1238.0,1225,1402.0,1351,DL,923,...,10,22,0,NaN,0,0,0,0,0,0

In [71]:
aprDFW07 = DFW07[DFW07['Month']==4]
aprDFW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1920158,2007,4,1,7,1115.0,1115,1252.0,1227,XE,2159,...,6,47,0,NaN,0,0,0,25,0,0
1920177,2007,4,1,7,1433.0,1440,1631.0,1639,XE,2181,...,8,9,0,NaN,0,0,0,0,0,0
1920363,2007,4,1,7,1044.0,1020,1150.0,1134,XE,2394,...,4,20,0,NaN,0,16,0,0,0,0
1920417,2007,4,1,7,1213.0,1215,1420.0,1414,XE,2448,...,9,14,0,NaN,0,0,0,0,0,0
1920501,2007,4,1,7,913.0,910,1023.0,1022,XE,2535,...,10,15,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2440564,2007,4,15,7,1851.0,1850,2010.0,2014,DL,1552,...,9,16,0,NaN,0,0,0,0,0,0
2440675,2007,4,15,7,2247.0,2240,4.0,2356,DL,1697,...,4,26,0,NaN,0,0,0,0,0,0
2440718,2007,4,15,7,1720.0,1728,2052.0,2103,DL,1769,...,8,19,0,NaN,0,0,0,0,0,0
2440970,2007,4,16,1,1225.0,1225,1341.0,1351,DL,471,...,5,15,0,NaN,0,0,0,0,0,0
2441004,2007,4,16,1,1003.0,1005,1347.0,1347,DL,508,...,11,23,0,NaN,0,0,0,0,0,0

In [72]:
mayDFW07 = DFW07[DFW07['Month']==5]
mayDFW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2535958,2007,5,1,2,1653.0,1700,1842.0,1855,XE,2181,...,6,14,0,NaN,0,0,0,0,0,0
2536386,2007,5,1,2,651.0,630,852.0,738,XE,2971,...,12,28,0,NaN,0,21,0,53,0,0
2536438,2007,5,1,2,1558.0,1600,1754.0,1714,XE,3090,...,9,46,0,NaN,0,0,0,40,0,0
2536580,2007,5,2,3,1122.0,1125,1225.0,1235,XE,2159,...,4,12,0,NaN,0,0,0,0,0,0
2536598,2007,5,2,3,1655.0,1700,1844.0,1855,XE,2181,...,9,13,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3071976,2007,5,17,4,712.0,715,820.0,835,DL,1059,...,7,15,0,NaN,0,0,0,0,0,0
3072032,2007,5,17,4,843.0,845,1004.0,1004,DL,1117,...,8,27,0,NaN,0,0,0,0,0,0
3072233,2007,5,17,4,1329.0,1332,1703.0,1700,DL,1416,...,9,18,0,NaN,0,0,0,0,0,0
3072268,2007,5,17,4,1915.0,1915,2039.0,2037,DL,1452,...,7,25,0,NaN,0,0,0,0,0,0
3072503,2007,5,17,4,2128.0,2130,2247.0,2241,DL,1753,...,5,21,0,NaN,0,0,0,0,0,0

In [73]:
junDFW07 = DFW07[DFW07['Month']==6]
junDFW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3167293,2007,6,1,5,1127.0,1125,1233.0,1235,XE,2159,...,9,16,0,NaN,0,0,0,0,0,0
3167309,2007,6,1,5,1715.0,1655,1905.0,1850,XE,2181,...,7,22,0,NaN,0,15,0,0,0,0
3167737,2007,6,24,7,1227.0,1220,1413.0,1405,XE,3044,...,6,14,0,NaN,0,0,0,0,0,0
3167800,2007,6,24,7,1559.0,1600,1727.0,1722,XE,3141,...,6,38,0,NaN,0,0,0,0,0,0
3168224,2007,6,25,1,1125.0,1125,1401.0,1239,XE,2159,...,9,105,0,NaN,0,0,0,82,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3701331,2007,6,17,7,959.0,1001,1349.0,1343,DL,926,...,15,29,0,NaN,0,0,0,0,0,0
3701452,2007,6,17,7,1710.0,1640,1822.0,1755,DL,1077,...,5,21,0,NaN,0,19,0,0,0,8
3701487,2007,6,17,7,829.0,830,1016.0,937,DL,1117,...,10,20,0,NaN,0,0,0,39,0,0
3701585,2007,6,17,7,1643.0,1645,2010.0,2015,DL,1232,...,7,17,0,NaN,0,0,0,0,0,0
3701622,2007,6,17,7,1524.0,1525,1629.0,1635,DL,1271,...,5,15,0,NaN,0,0,0,0,0,0

In [74]:
julDFW07 = DFW07[DFW07['Month']==7]
julDFW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3800540,2007,7,1,7,1709.0,1630,1923.0,1752,XE,2090,...,14,73,0,NaN,0,0,0,91,0,0
3800589,2007,7,1,7,1116.0,1115,1243.0,1229,XE,2159,...,8,19,0,NaN,0,0,0,0,0,0
3800604,2007,7,1,7,1653.0,1650,1930.0,1842,XE,2181,...,13,28,0,NaN,0,0,0,48,0,0
3800770,2007,7,1,7,1027.0,1005,1138.0,1117,XE,2394,...,6,18,0,NaN,0,0,0,21,0,0
3800973,2007,7,1,7,2047.0,2050,2221.0,2237,XE,2635,...,4,8,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4350180,2007,7,18,3,1409.0,1410,1526.0,1517,DL,695,...,10,21,0,NaN,0,0,0,0,0,0
4350202,2007,7,18,3,1109.0,1110,1217.0,1225,DL,721,...,6,22,0,NaN,0,0,0,0,0,0
4350246,2007,7,18,3,1002.0,1000,1116.0,1117,DL,783,...,6,25,0,NaN,0,0,0,0,0,0
4350355,2007,7,18,3,1009.0,1002,1354.0,1344,DL,926,...,10,26,0,NaN,0,0,0,0,0,0
4350464,2007,7,18,3,658.0,700,808.0,805,DL,1059,...,13,15,0,NaN,0,0,0,0,0,0

In [75]:
augDFW07 = DFW07[DFW07['Month']==8]
augDFW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4449490,2007,8,1,3,1824.0,1600,1949.0,1722,XE,2001,...,10,12,0,NaN,0,0,0,147,0,0
4449491,2007,8,2,4,1601.0,1600,1738.0,1722,XE,2001,...,8,43,0,NaN,0,0,0,16,0,0
4449492,2007,8,3,5,1600.0,1600,1707.0,1722,XE,2001,...,7,17,0,NaN,0,0,0,0,0,0
4449493,2007,8,5,7,1605.0,1600,1711.0,1722,XE,2001,...,7,14,0,NaN,0,0,0,0,0,0
4449494,2007,8,6,1,1625.0,1600,1731.0,1722,XE,2001,...,6,16,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003534,2007,8,17,5,1640.0,1640,1826.0,1755,DL,1077,...,5,59,0,NaN,0,0,0,31,0,0
5003574,2007,8,17,5,828.0,829,939.0,937,DL,1117,...,10,15,0,NaN,0,0,0,0,0,0
5003636,2007,8,17,5,1108.0,1110,1205.0,1225,DL,1183,...,5,12,0,NaN,0,0,0,0,0,0
5003679,2007,8,17,5,1704.0,1657,2106.0,2027,DL,1232,...,11,20,0,NaN,0,7,0,32,0,0
5003724,2007,8,17,5,1529.0,1520,1635.0,1630,DL,1271,...,7,17,0,NaN,0,0,0,0,0,0

In [76]:
sepDFW07 = DFW07[DFW07['Month']==9]
sepDFW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5096733,2007,9,8,6,1859.0,1900,2003.0,2020,XE,2059,...,5,11,0,NaN,0,0,0,0,0,0
5096734,2007,9,15,6,1904.0,1900,2016.0,2020,XE,2059,...,5,23,0,NaN,0,0,0,0,0,0
5096735,2007,9,22,6,1857.0,1900,2009.0,2020,XE,2059,...,6,21,0,NaN,0,0,0,0,0,0
5096736,2007,9,29,6,1856.0,1900,2001.0,2020,XE,2059,...,6,14,0,NaN,0,0,0,0,0,0
5097614,2007,9,2,7,1120.0,1125,1229.0,1239,XE,2159,...,5,18,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5603036,2007,9,16,7,1525.0,1524,1631.0,1635,DL,1271,...,6,10,0,NaN,0,0,0,0,0,0
5603074,2007,9,16,7,2135.0,2120,2244.0,2229,DL,1409,...,6,13,0,NaN,0,15,0,0,0,0
5603285,2007,9,16,7,1638.0,1640,1757.0,1755,DL,1645,...,6,23,0,NaN,0,0,0,0,0,0
5603356,2007,9,16,7,1840.0,1845,1953.0,2000,DL,1717,...,7,18,0,NaN,0,0,0,0,0,0
5603910,2007,9,17,1,1411.0,1413,1512.0,1522,DL,695,...,4,13,0,NaN,0,0,0,0,0,0

In [77]:
octDFW07 = DFW07[DFW07['Month']==10]
octDFW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5703275,2007,10,6,6,1438.0,1440,1539.0,1553,XE,2110,...,5,13,0,NaN,0,0,0,0,0,0
5703276,2007,10,13,6,1441.0,1440,1545.0,1553,XE,2110,...,5,16,0,NaN,0,0,0,0,0,0
5703277,2007,10,20,6,1436.0,1440,1540.0,1553,XE,2110,...,10,10,0,NaN,0,0,0,0,0,0
5703278,2007,10,27,6,1441.0,1440,1545.0,1553,XE,2110,...,9,14,0,NaN,0,0,0,0,0,0
5703537,2007,10,1,1,628.0,630,730.0,734,XE,2156,...,7,10,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6233238,2007,10,16,2,858.0,845,1028.0,1011,DL,1643,...,6,24,0,NaN,0,0,0,4,0,13
6233708,2007,10,17,3,1643.0,1630,1822.0,1755,DL,515,...,6,36,0,NaN,0,13,0,14,0,0
6233800,2007,10,17,3,1859.0,1846,2029.0,2011,DL,599,...,7,27,0,NaN,0,13,0,5,0,0
6233809,2007,10,17,3,1957.0,2000,2115.0,2124,DL,611,...,8,13,0,NaN,0,0,0,0,0,0
6233900,2007,10,17,3,1407.0,1409,1520.0,1525,DL,695,...,4,12,0,NaN,0,0,0,0,0,0

In [78]:
novDFW07 = DFW07[DFW07['Month']==11]
novDFW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
6329169,2007,11,6,2,2101.0,2105,2205.0,2220,XE,2074,...,7,16,0,NaN,0,0,0,0,0,0
6329170,2007,11,13,2,2103.0,2105,2206.0,2220,XE,2074,...,5,15,0,NaN,0,0,0,0,0,0
6329171,2007,11,20,2,2110.0,2105,2229.0,2220,XE,2074,...,8,29,0,NaN,0,0,0,0,0,0
6329172,2007,11,27,2,2105.0,2105,2211.0,2220,XE,2074,...,6,17,0,NaN,0,0,0,0,0,0
6329437,2007,11,28,3,711.0,710,820.0,818,XE,2085,...,10,10,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6838835,2007,11,16,5,2000.0,2000,2115.0,2124,DL,951,...,6,11,0,NaN,0,0,0,0,0,0
6838849,2007,11,16,5,1518.0,1519,1638.0,1641,DL,969,...,10,13,0,NaN,0,0,0,0,0,0
6838878,2007,11,16,5,850.0,840,1013.0,1005,DL,1004,...,7,19,0,NaN,0,0,0,0,0,0
6838923,2007,11,16,5,640.0,635,804.0,758,DL,1059,...,7,17,0,NaN,0,0,0,0,0,0
6839047,2007,11,16,5,1110.0,1110,1235.0,1238,DL,1217,...,4,22,0,NaN,0,0,0,0,0,0

In [79]:
decDFW07 = DFW07[DFW07['Month']==12]
decDFW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
6941583,2007,12,4,2,2111.0,2105,2213.0,2220,XE,2074,...,6,13,0,NaN,0,0,0,0,0,0
6941584,2007,12,11,2,2103.0,2105,2209.0,2220,XE,2074,...,7,18,0,NaN,0,0,0,0,0,0
6942801,2007,12,1,6,1920.0,1900,2031.0,2015,XE,2130,...,5,19,0,NaN,0,0,0,16,0,0
6942802,2007,12,8,6,1904.0,1900,2023.0,2015,XE,2130,...,11,30,0,NaN,0,0,0,0,0,0
6943430,2007,12,3,1,628.0,630,727.0,738,XE,2156,...,5,11,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7452430,2007,12,14,5,637.0,640,752.0,803,DL,1059,...,8,12,0,NaN,0,0,0,0,0,0
7452555,2007,12,14,5,950.0,955,1116.0,1125,DL,1209,...,5,24,0,NaN,0,0,0,0,0,0
7452563,2007,12,14,5,1059.0,1104,1233.0,1232,DL,1217,...,7,25,0,NaN,0,0,0,0,0,0
7452580,2007,12,14,5,1916.0,1710,2243.0,2043,DL,1232,...,8,14,0,NaN,0,0,0,0,0,120
7452652,2007,12,14,5,2155.0,2155,2329.0,2321,DL,1409,...,6,31,0,NaN,0,0,0,0,0,0

In [80]:
##subsetting RSW by months in 2006
janRSW06 = RSW06[RSW06['Month']==1]
janRSW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
307,2006,1,11,3,1406.0,1405,1555.0,1554,US,297,...,3,11,0,NaN,0,0,0,0,0,0
308,2006,1,11,3,1303.0,1300,1459.0,1452,US,435,...,3,21,0,NaN,0,0,0,0,0,0
309,2006,1,11,3,2152.0,2145,2342.0,2339,US,545,...,5,19,0,NaN,0,0,0,0,0,0
310,2006,1,11,3,1129.0,1135,1324.0,1331,US,1052,...,5,21,0,NaN,0,0,0,0,0,0
435,2006,1,11,3,2029.0,1940,2251.0,2218,US,69,...,4,9,0,NaN,0,11,0,0,0,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580813,2006,1,29,7,1849.0,1850,2246.0,2222,DL,2030,...,5,24,0,NaN,0,0,0,24,0,0
580846,2006,1,29,7,755.0,800,1140.0,1134,DL,2055,...,6,18,0,NaN,0,0,0,0,0,0
581001,2006,1,30,1,912.0,913,1109.0,1107,DL,303,...,11,19,0,NaN,0,0,0,0,0,0
581088,2006,1,30,1,1136.0,1135,1314.0,1311,DL,407,...,4,13,0,NaN,0,0,0,0,0,0
581170,2006,1,30,1,1339.0,1322,1512.0,1459,DL,496,...,3,14,0,NaN,0,0,0,0,0,0

In [81]:
febRSW06 = RSW06[RSW06['Month']==2]
febRSW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
593706,2006,2,1,3,1935.0,1940,2234.0,2218,US,69,...,7,21,0,NaN,0,0,0,16,0,0
593707,2006,2,2,4,1942.0,1940,2224.0,2218,US,69,...,4,7,0,NaN,0,0,0,0,0,0
593708,2006,2,3,5,1949.0,1940,2248.0,2218,US,69,...,4,21,0,NaN,0,8,0,21,0,1
593709,2006,2,5,7,1934.0,1940,2202.0,2218,US,69,...,4,9,0,NaN,0,0,0,0,0,0
593710,2006,2,6,1,1939.0,1940,2221.0,2218,US,69,...,4,11,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1112136,2006,2,26,7,2027.0,1850,2352.0,2222,DL,2030,...,5,25,0,NaN,0,10,0,0,0,80
1112169,2006,2,26,7,755.0,800,1209.0,1134,DL,2055,...,5,52,0,NaN,0,0,0,35,0,0
1112324,2006,2,27,1,925.0,920,1118.0,1114,DL,303,...,5,38,0,NaN,0,0,0,0,0,0
1112415,2006,2,27,1,1127.0,1130,1305.0,1306,DL,407,...,5,25,0,NaN,0,0,0,0,0,0
1112498,2006,2,27,1,1321.0,1322,1450.0,1459,DL,496,...,6,15,0,NaN,0,0,0,0,0,0

In [82]:
marRSW06 = RSW06[RSW06['Month']==3]
marRSW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1112596,2006,3,13,1,838.0,840,1138.0,1118,US,720,...,17,30,0,NaN,0,0,0,20,0,0
1112751,2006,3,13,1,739.0,740,917.0,933,US,1031,...,4,10,0,NaN,0,0,0,0,0,0
1112753,2006,3,13,1,1959.0,2000,2252.0,2259,US,1034,...,5,22,0,NaN,0,0,0,0,0,0
1112754,2006,3,13,1,1550.0,1535,1833.0,1835,US,1035,...,2,16,0,NaN,0,0,0,0,0,0
1112756,2006,3,13,1,1150.0,1150,1433.0,1453,US,1039,...,2,13,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1717012,2006,3,29,3,1542.0,1545,1713.0,1723,DL,1007,...,7,14,0,NaN,0,0,0,0,0,0
1717271,2006,3,29,3,2142.0,2042,2316.0,2221,DL,1420,...,6,14,0,NaN,0,55,0,0,0,0
1717472,2006,3,29,3,1842.0,1844,2029.0,2029,DL,1681,...,9,27,0,NaN,0,0,0,0,0,0
1717689,2006,3,29,3,1201.0,1200,1510.0,1540,DL,2010,...,6,13,0,NaN,0,0,0,0,0,0
1717719,2006,3,29,3,1847.0,1850,2203.0,2231,DL,2030,...,4,25,0,NaN,0,0,0,0,0,0

In [83]:
aprRSW06 = RSW06[RSW06['Month']==4]
aprRSW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1732792,2006,4,1,6,1936.0,1940,2159.0,2218,US,69,...,6,9,0,NaN,0,0,0,0,0,0
1732793,2006,4,2,7,1942.0,1940,2230.0,2211,US,69,...,5,34,0,NaN,0,0,0,19,0,0
1732794,2006,4,3,1,2020.0,1940,2242.0,2211,US,69,...,4,14,0,NaN,0,0,31,0,0,0
1732795,2006,4,4,2,1934.0,1940,2216.0,2211,US,69,...,3,24,0,NaN,0,0,0,0,0,0
1732796,2006,4,5,3,1946.0,1940,2215.0,2211,US,69,...,3,13,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2302199,2006,4,27,4,1320.0,1322,1451.0,1456,DL,496,...,5,14,0,NaN,0,0,0,0,0,0
2302399,2006,4,27,4,749.0,750,921.0,925,DL,714,...,5,15,0,NaN,0,0,0,0,0,0
2302634,2006,4,27,4,1548.0,1545,1724.0,1721,DL,1007,...,6,19,0,NaN,0,0,0,0,0,0
2302877,2006,4,27,4,2042.0,2042,2210.0,2221,DL,1420,...,5,14,0,NaN,0,0,0,0,0,0
2303079,2006,4,27,4,1846.0,1844,2013.0,2026,DL,1681,...,3,20,0,NaN,0,0,0,0,0,0

In [84]:
mayRSW06 = RSW06[RSW06['Month']==5]
mayRSW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2317878,2006,5,1,1,1937.0,1940,2211.0,2211,US,69,...,5,19,0,NaN,0,0,0,0,0,0
2317879,2006,5,2,2,1938.0,1940,2157.0,2211,US,69,...,4,10,0,NaN,0,0,0,0,0,0
2317880,2006,5,3,3,1933.0,1940,2153.0,2211,US,69,...,4,14,0,NaN,0,0,0,0,0,0
2317881,2006,5,4,4,1943.0,1940,2211.0,2211,US,69,...,5,17,0,NaN,0,0,0,0,0,0
2317882,2006,5,5,5,1947.0,1940,2214.0,2211,US,69,...,4,19,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2905438,2006,5,30,2,925.0,928,1056.0,1113,DL,1416,...,2,13,0,NaN,0,0,0,0,0,0
2905440,2006,5,30,2,1844.0,1844,2012.0,2028,DL,1418,...,5,13,0,NaN,0,0,0,0,0,0
2905442,2006,5,30,2,2055.0,2057,2220.0,2234,DL,1420,...,5,10,0,NaN,0,0,0,0,0,0
2905682,2006,5,30,2,1208.0,1158,1338.0,1338,DL,1664,...,6,12,0,NaN,0,0,0,0,0,0
2905746,2006,5,30,2,1119.0,1120,1424.0,1444,DL,1723,...,6,15,0,NaN,0,0,0,0,0,0

In [85]:
junRSW06 = RSW06[RSW06['Month']==6]
junRSW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2920896,2006,6,1,4,1615.0,1615,1819.0,1808,US,297,...,4,30,0,NaN,0,0,0,0,0,0
2920897,2006,6,2,5,1610.0,1615,1807.0,1808,US,297,...,3,24,0,NaN,0,0,0,0,0,0
2920898,2006,6,4,7,1612.0,1615,1800.0,1802,US,297,...,3,21,0,NaN,0,0,0,0,0,0
2920899,2006,6,5,1,1614.0,1615,1807.0,1802,US,297,...,3,24,0,NaN,0,0,0,0,0,0
2920900,2006,6,6,2,1612.0,1615,1808.0,1802,US,297,...,4,25,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3503448,2006,6,28,3,843.0,845,1010.0,1023,DL,1809,...,5,11,0,NaN,0,0,0,0,0,0
3503490,2006,6,28,3,802.0,805,1131.0,1135,DL,1859,...,4,20,0,NaN,0,0,0,0,0,0
3503771,2006,6,29,4,1347.0,1347,1521.0,1526,DL,479,...,5,18,0,NaN,0,0,0,0,0,0
3504218,2006,6,29,4,1559.0,1552,1731.0,1729,DL,1008,...,5,17,0,NaN,0,0,0,0,0,0
3504253,2006,6,29,4,1140.0,1048,1313.0,1236,DL,1040,...,4,16,0,NaN,0,0,0,0,0,37

In [86]:
julRSW06 = RSW06[RSW06['Month']==7]
julRSW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3504612,2006,7,3,1,850.0,850,1110.0,1125,WN,520,...,3,13,0,NaN,0,0,0,0,0,0
3504613,2006,7,3,1,1403.0,1350,1620.0,1625,WN,1743,...,3,8,0,NaN,0,0,0,0,0,0
3505001,2006,7,3,1,751.0,750,1033.0,1050,WN,358,...,3,9,0,NaN,0,0,0,0,0,0
3505489,2006,7,3,1,2143.0,2145,2220.0,2230,WN,1506,...,4,7,0,NaN,0,0,0,0,0,0
3505490,2006,7,3,1,1249.0,1250,1330.0,1335,WN,2489,...,3,9,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4124620,2006,7,29,6,1829.0,1830,2009.0,2015,DL,1681,...,6,20,0,NaN,0,0,0,0,0,0
4124706,2006,7,29,6,903.0,845,1036.0,1023,DL,1809,...,4,17,0,NaN,0,0,0,0,0,0
4124742,2006,7,29,6,805.0,805,1127.0,1135,DL,1859,...,9,26,0,NaN,0,0,0,0,0,0
4124970,2006,7,30,7,1345.0,1347,1517.0,1526,DL,479,...,5,17,0,NaN,0,0,0,0,0,0
4125071,2006,7,30,7,1043.0,1048,1234.0,1236,DL,585,...,6,31,0,NaN,0,0,0,0,0,0

In [87]:
augRSW06 = RSW06[RSW06['Month']==8]
augRSW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4126096,2006,8,3,4,753.0,750,1031.0,1050,WN,358,...,3,7,0,NaN,0,0,0,0,0,0
4126661,2006,8,3,4,2225.0,2145,2258.0,2230,WN,1506,...,2,6,0,NaN,0,19,0,0,0,9
4126662,2006,8,3,4,1354.0,1250,1441.0,1335,WN,2489,...,2,6,0,NaN,0,9,0,2,0,55
4126663,2006,8,3,4,1727.0,1730,1806.0,1815,WN,2742,...,2,8,0,NaN,0,0,0,0,0,0
4126839,2006,8,3,4,1718.0,1615,2057.0,2005,WN,1190,...,4,10,0,NaN,0,52,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753364,2006,8,30,3,2121.0,2047,2250.0,2224,DL,893,...,6,12,0,NaN,0,26,0,0,0,0
4753693,2006,8,30,3,1553.0,1552,1727.0,1729,DL,1254,...,7,13,0,NaN,0,0,0,0,0,0
4754019,2006,8,30,3,1826.0,1830,2000.0,2015,DL,1681,...,5,14,0,NaN,0,0,0,0,0,0
4754118,2006,8,30,3,848.0,842,1024.0,1020,DL,1809,...,5,13,0,NaN,0,0,0,0,0,0
4754161,2006,8,30,3,757.0,810,1154.0,1140,DL,1859,...,4,22,0,NaN,0,0,0,0,0,0

In [88]:
sepRSW06 = RSW06[RSW06['Month']==9]
sepRSW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4754531,2006,9,3,7,851.0,850,1117.0,1125,WN,157,...,3,9,0,NaN,0,0,0,0,0,0
4754532,2006,9,3,7,1347.0,1350,1630.0,1625,WN,715,...,5,9,0,NaN,0,0,0,0,0,0
4754875,2006,9,3,7,747.0,750,1036.0,1050,WN,358,...,2,7,0,NaN,0,0,0,0,0,0
4755318,2006,9,3,7,2140.0,2145,2218.0,2230,WN,1506,...,3,7,0,NaN,0,0,0,0,0,0
4755319,2006,9,3,7,1249.0,1250,1327.0,1335,WN,2489,...,2,9,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5337525,2006,9,30,6,1039.0,1029,1237.0,1212,DL,641,...,8,38,0,NaN,0,10,0,15,0,0
5337784,2006,9,30,6,918.0,920,1136.0,1150,DL,1078,...,9,13,0,NaN,0,0,0,0,0,0
5338215,2006,9,30,6,1755.0,1755,1936.0,1938,DL,1681,...,7,23,0,NaN,0,0,0,0,0,0
5338319,2006,9,30,6,852.0,835,1022.0,1010,DL,1809,...,7,11,0,NaN,0,0,0,0,0,0
5338347,2006,9,30,6,813.0,815,1147.0,1136,DL,1843,...,8,15,0,NaN,0,0,0,0,0,0

In [89]:
octRSW06 = RSW06[RSW06['Month']==10]
octRSW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5339467,2006,10,3,2,2211.0,2145,2249.0,2235,WN,1506,...,6,6,0,NaN,0,0,0,0,0,0
5339468,2006,10,3,2,1253.0,1250,1338.0,1340,WN,2489,...,5,11,0,NaN,0,0,0,0,0,0
5339469,2006,10,3,2,1729.0,1730,1808.0,1820,WN,2742,...,5,5,0,NaN,0,0,0,0,0,0
5339645,2006,10,3,2,1607.0,1610,1935.0,1955,WN,2292,...,6,6,0,NaN,0,0,0,0,0,0
5339646,2006,10,3,2,834.0,830,1215.0,1215,WN,2830,...,6,14,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5949797,2006,10,31,2,1038.0,1039,1229.0,1223,DL,641,...,8,26,0,NaN,0,0,0,0,0,0
5950090,2006,10,31,2,918.0,920,1135.0,1138,DL,1078,...,8,11,0,NaN,0,0,0,0,0,0
5950598,2006,10,31,2,1753.0,1755,1948.0,1941,DL,1681,...,8,31,0,NaN,0,0,0,0,0,0
5950718,2006,10,31,2,829.0,830,1017.0,1008,DL,1809,...,8,28,0,NaN,0,0,0,0,0,0
5950756,2006,10,31,2,807.0,815,1148.0,1150,DL,1843,...,9,19,0,NaN,0,0,0,0,0,0

In [90]:
novRSW06 = RSW06[RSW06['Month']==11]
novRSW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5951389,2006,11,3,5,732.0,730,1043.0,1045,WN,358,...,5,7,0,NaN,0,0,0,0,0,0
5951965,2006,11,3,5,2149.0,2155,2232.0,2240,WN,1187,...,6,8,0,NaN,0,0,0,0,0,0
5951966,2006,11,3,5,1256.0,1300,1354.0,1345,WN,2489,...,5,13,0,NaN,0,0,0,0,0,0
5951967,2006,11,3,5,1804.0,1735,1904.0,1825,WN,2742,...,5,18,0,NaN,0,10,0,10,0,19
5952150,2006,11,3,5,1617.0,1615,1949.0,2000,WN,1190,...,6,8,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6536430,2006,11,29,3,916.0,920,1132.0,1138,DL,1078,...,6,11,0,NaN,0,0,0,0,0,0
6536841,2006,11,29,3,2055.0,2055,2232.0,2233,DL,1561,...,7,14,0,NaN,0,0,0,0,0,0
6536968,2006,11,29,3,1804.0,1755,1953.0,1941,DL,1681,...,8,20,0,NaN,0,0,0,0,0,0
6537092,2006,11,29,3,832.0,830,1022.0,1008,DL,1809,...,6,31,0,NaN,0,0,0,0,0,0
6537131,2006,11,29,3,752.0,800,1137.0,1140,DL,1843,...,7,26,0,NaN,0,0,0,0,0,0

In [91]:
decRSW06 = RSW06[RSW06['Month']==12]
decRSW06

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
6537375,2006,12,3,7,727.0,730,1042.0,1045,WN,358,...,7,9,0,NaN,0,0,0,0,0,0
6537922,2006,12,3,7,2155.0,2155,2234.0,2240,WN,1187,...,6,6,0,NaN,0,0,0,0,0,0
6537923,2006,12,3,7,1301.0,1300,1342.0,1345,WN,2489,...,5,8,0,NaN,0,0,0,0,0,0
6537924,2006,12,3,7,1737.0,1735,1821.0,1825,WN,2742,...,8,8,0,NaN,0,0,0,0,0,0
6538091,2006,12,3,7,1616.0,1615,1959.0,2000,WN,1190,...,5,7,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7141095,2006,12,29,5,1218.0,1220,1357.0,1358,DL,581,...,8,16,0,NaN,0,0,0,0,0,0
7141120,2006,12,29,5,1120.0,1122,1434.0,1430,DL,613,...,8,12,0,NaN,0,0,0,0,0,0
7141143,2006,12,29,5,1029.0,1029,1208.0,1215,DL,641,...,7,20,0,NaN,0,0,0,0,0,0
7141220,2006,12,29,5,1141.0,1145,1445.0,1513,DL,739,...,7,17,0,NaN,0,0,0,0,0,0
7141281,2006,12,29,5,1153.0,1152,1520.0,1533,DL,833,...,9,15,0,NaN,0,0,0,0,0,0

In [92]:
##subsetting RSW by months in 2007
janRSW07 = RSW07[RSW07['Month']==1]
janRSW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
737,2007,1,2,2,937.0,850,1230.0,1135,WN,520,...,6,11,0,NaN,0,0,0,55,0,0
738,2007,1,2,2,1408.0,1355,1652.0,1635,WN,1743,...,6,15,0,NaN,0,13,0,4,0,0
1296,2007,1,2,2,733.0,730,1034.0,1045,WN,358,...,6,7,0,NaN,0,0,0,0,0,0
1876,2007,1,2,2,2245.0,2155,2331.0,2240,WN,1187,...,6,9,0,NaN,0,4,0,1,0,46
1877,2007,1,2,2,1432.0,1300,1520.0,1345,WN,2489,...,5,9,0,NaN,0,0,0,95,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620686,2007,1,17,3,1131.0,1125,1446.0,1435,DL,613,...,8,13,0,NaN,0,0,0,0,0,0
620724,2007,1,17,3,1802.0,1759,1939.0,1944,DL,655,...,7,14,0,NaN,0,0,0,0,0,0
620740,2007,1,17,3,1031.0,1030,1219.0,1215,DL,677,...,9,26,0,NaN,0,0,0,0,0,0
620792,2007,1,17,3,1120.0,1130,1434.0,1500,DL,739,...,6,31,0,NaN,0,0,0,0,0,0
620847,2007,1,17,3,1128.0,1134,1501.0,1515,DL,833,...,10,18,0,NaN,0,0,0,0,0,0

In [93]:
febRSW07 = RSW07[RSW07['Month']==2]
febRSW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
622025,2007,2,1,4,2310.0,2205,2354.0,2250,WN,1187,...,5,7,0,NaN,0,11,0,0,0,53
622026,2007,2,1,4,1301.0,1300,1347.0,1345,WN,2489,...,3,11,0,NaN,0,0,0,0,0,0
622027,2007,2,1,4,1738.0,1720,1820.0,1805,WN,2742,...,3,9,0,NaN,0,7,0,0,0,8
622211,2007,2,1,4,1623.0,1615,2004.0,2000,WN,1190,...,3,10,0,NaN,0,0,0,0,0,0
622212,2007,2,1,4,1946.0,1945,2322.0,2330,WN,1967,...,4,5,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1186916,2007,2,15,4,1059.0,1100,1444.0,1410,DL,613,...,22,14,0,NaN,0,0,0,34,0,0
1186939,2007,2,15,4,1033.0,1020,1232.0,1206,DL,641,...,9,32,0,NaN,0,13,0,13,0,0
1186951,2007,2,15,4,1818.0,1755,2008.0,1940,DL,655,...,11,24,0,NaN,0,8,0,5,0,15
1187023,2007,2,15,4,1111.0,1050,1444.0,1420,DL,739,...,6,22,0,NaN,0,7,0,3,0,14
1187078,2007,2,15,4,1135.0,1134,1605.0,1515,DL,833,...,36,32,0,NaN,0,0,0,50,0,0

In [94]:
marRSW07 = RSW07[RSW07['Month']==3]
marRSW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1187358,2007,3,1,4,732.0,730,1029.0,1040,WN,358,...,6,8,0,NaN,0,0,0,0,0,0
1187938,2007,3,1,4,2247.0,2205,2323.0,2250,WN,1187,...,4,6,0,NaN,0,0,5,0,0,28
1187939,2007,3,1,4,1320.0,1300,1406.0,1345,WN,2489,...,3,11,0,NaN,0,3,0,1,0,17
1187940,2007,3,1,4,1728.0,1720,1806.0,1805,WN,2742,...,3,6,0,NaN,0,0,0,0,0,0
1188124,2007,3,1,4,1632.0,1615,2014.0,2000,WN,1190,...,2,9,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1826039,2007,3,16,5,1101.0,1102,1445.0,1409,DL,613,...,8,17,0,NaN,0,0,0,36,0,0
1826110,2007,3,16,5,1042.0,1025,1244.0,1213,DL,677,...,7,31,0,NaN,0,17,0,14,0,0
1826163,2007,3,16,5,NaN,1050,NaN,1420,DL,739,...,0,0,1,B,0,0,0,0,0,0
1826231,2007,3,16,5,1142.0,1145,1543.0,1513,DL,833,...,9,27,0,NaN,0,0,0,30,0,0
1826339,2007,3,16,5,1424.0,1426,1609.0,1605,DL,963,...,7,15,0,NaN,0,0,0,0,0,0

In [95]:
aprRSW07 = RSW07[RSW07['Month']==4]
aprRSW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1827556,2007,4,2,1,1430.0,1430,1658.0,1705,WN,146,...,3,10,0,NaN,0,0,0,0,0,0
1827557,2007,4,2,1,1057.0,1045,1320.0,1320,WN,1259,...,4,8,0,NaN,0,0,0,0,0,0
1828119,2007,4,2,1,718.0,715,1011.0,1015,WN,2111,...,3,8,0,NaN,0,0,0,0,0,0
1828710,2007,4,2,1,1857.0,1810,1931.0,1855,WN,147,...,3,5,0,NaN,0,2,0,0,0,34
1828711,2007,4,2,1,1057.0,1050,1143.0,1135,WN,621,...,5,8,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2440749,2007,4,15,7,826.0,812,1022.0,949,DL,1809,...,4,15,0,NaN,0,14,0,19,0,0
2440771,2007,4,15,7,800.0,800,1205.0,1138,DL,1843,...,6,19,0,NaN,0,0,0,27,0,0
2440916,2007,4,16,1,1232.0,1235,1401.0,1413,DL,388,...,5,16,0,NaN,0,0,0,0,0,0
2440946,2007,4,16,1,2015.0,2015,2155.0,2152,DL,438,...,5,25,0,NaN,0,0,0,0,0,0
2440976,2007,4,16,1,1550.0,1551,1726.0,1728,DL,479,...,3,21,0,NaN,0,0,0,0,0,0

In [96]:
mayRSW07 = RSW07[RSW07['Month']==5]
mayRSW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2441437,2007,5,2,3,710.0,715,1003.0,1015,WN,2111,...,5,11,0,NaN,0,0,0,0,0,0
2442029,2007,5,2,3,1809.0,1810,1844.0,1855,WN,147,...,3,5,0,NaN,0,0,0,0,0,0
2442030,2007,5,2,3,1048.0,1050,1126.0,1135,WN,621,...,3,7,0,NaN,0,0,0,0,0,0
2442031,2007,5,2,3,2205.0,2150,2249.0,2230,WN,856,...,4,11,0,NaN,0,0,0,4,0,15
2442032,2007,5,2,3,1324.0,1330,1404.0,1415,WN,2813,...,3,7,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3071758,2007,5,17,4,918.0,920,1130.0,1142,DL,790,...,4,8,0,NaN,0,0,0,0,0,0
3071842,2007,5,17,4,2049.0,2050,2236.0,2226,DL,914,...,7,28,0,NaN,0,0,0,0,0,0
3071947,2007,5,17,4,1433.0,1430,1608.0,1609,DL,1029,...,4,17,0,NaN,0,0,0,0,0,0
3072153,2007,5,17,4,757.0,800,926.0,934,DL,1244,...,5,12,0,NaN,0,0,0,0,0,0
3072559,2007,5,17,4,759.0,800,1133.0,1130,DL,1843,...,5,17,0,NaN,0,0,0,0,0,0

In [97]:
junRSW07 = RSW07[RSW07['Month']==6]
junRSW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3074034,2007,6,2,6,1428.0,1425,1659.0,1700,WN,146,...,3,7,0,NaN,0,0,0,0,0,0
3074035,2007,6,2,6,1043.0,1050,1321.0,1325,WN,1259,...,3,7,0,NaN,0,0,0,0,0,0
3074492,2007,6,2,6,701.0,705,1008.0,1005,WN,2111,...,3,9,0,NaN,0,0,0,0,0,0
3075024,2007,6,2,6,1825.0,1810,1909.0,1855,WN,147,...,3,15,0,NaN,0,0,0,0,0,0
3075025,2007,6,2,6,1055.0,1055,1134.0,1140,WN,621,...,3,10,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3701039,2007,6,17,7,1315.0,1240,1449.0,1415,DL,581,...,4,10,0,NaN,0,34,0,0,0,0
3701450,2007,6,17,7,2144.0,2120,2319.0,2300,DL,1076,...,5,20,0,NaN,0,19,0,0,0,0
3701453,2007,6,17,7,936.0,935,1147.0,1159,DL,1078,...,7,11,0,NaN,0,0,0,0,0,0
3701724,2007,6,17,7,1622.0,1628,1805.0,1812,DL,1487,...,5,25,0,NaN,0,0,0,0,0,0
3701892,2007,6,17,7,1928.0,1921,2059.0,2105,DL,1681,...,5,15,0,NaN,0,0,0,0,0,0

In [98]:
julRSW07 = RSW07[RSW07['Month']==7]
julRSW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3702046,2007,7,1,7,1647.0,1650,1931.0,1950,WN,2309,...,4,15,0,NaN,0,0,0,0,0,0
3703487,2007,7,2,1,1425.0,1425,1651.0,1700,WN,146,...,2,9,0,NaN,0,0,0,0,0,0
3703488,2007,7,2,1,1049.0,1050,1311.0,1325,WN,1259,...,4,8,0,NaN,0,0,0,0,0,0
3704068,2007,7,2,1,707.0,705,954.0,1005,WN,2111,...,3,7,0,NaN,0,0,0,0,0,0
3704670,2007,7,2,1,1838.0,1810,1929.0,1855,WN,147,...,4,14,0,NaN,0,0,0,6,0,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4349660,2007,7,17,2,814.0,810,1147.0,1137,DL,1843,...,4,27,0,NaN,0,0,0,0,0,0
4349878,2007,7,18,3,936.0,939,1113.0,1127,DL,413,...,4,17,0,NaN,0,0,0,0,0,0
4349892,2007,7,18,3,1437.0,1425,1609.0,1604,DL,423,...,5,13,0,NaN,0,0,0,0,0,0
4350401,2007,7,18,3,1237.0,1240,1417.0,1415,DL,983,...,4,21,0,NaN,0,0,0,0,0,0
4350463,2007,7,18,3,1626.0,1628,1849.0,1812,DL,1057,...,4,63,0,NaN,0,0,0,37,0,0

In [99]:
augRSW07 = RSW07[RSW07['Month']==8]
augRSW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4350727,2007,8,2,4,1424.0,1425,1650.0,1700,WN,146,...,3,10,0,NaN,0,0,0,0,0,0
4350728,2007,8,2,4,1045.0,1050,1309.0,1325,WN,1259,...,3,8,0,NaN,0,0,0,0,0,0
4351309,2007,8,2,4,706.0,705,958.0,1005,WN,2111,...,4,9,0,NaN,0,0,0,0,0,0
4351912,2007,8,2,4,1827.0,1810,1900.0,1855,WN,147,...,3,5,0,NaN,0,0,0,0,0,0
4351913,2007,8,2,4,1103.0,1055,1139.0,1140,WN,621,...,3,7,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003461,2007,8,17,5,1237.0,1240,1411.0,1415,DL,983,...,12,11,0,NaN,0,0,0,0,0,0
5003520,2007,8,17,5,1651.0,1628,1836.0,1812,DL,1057,...,5,31,0,NaN,0,4,0,1,0,19
5003532,2007,8,17,5,2137.0,2115,2336.0,2255,DL,1076,...,4,37,0,NaN,0,22,0,19,0,0
5003536,2007,8,17,5,930.0,935,1158.0,1159,DL,1078,...,6,30,0,NaN,0,0,0,0,0,0
5003588,2007,8,17,5,938.0,939,1110.0,1127,DL,1129,...,5,15,0,NaN,0,0,0,0,0,0

In [100]:
sepRSW07 = RSW07[RSW07['Month']==9]
sepRSW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5004655,2007,9,3,1,1414.0,1420,1633.0,1655,WN,146,...,2,8,0,NaN,0,0,0,0,0,0
5004656,2007,9,3,1,1034.0,1035,1255.0,1310,WN,1259,...,4,9,0,NaN,0,0,0,0,0,0
5005176,2007,9,3,1,707.0,710,948.0,1010,WN,1213,...,2,8,0,NaN,0,0,0,0,0,0
5005746,2007,9,3,1,1803.0,1805,1846.0,1855,WN,147,...,3,12,0,NaN,0,0,0,0,0,0
5005747,2007,9,3,1,1106.0,1055,1155.0,1140,WN,621,...,3,14,0,NaN,0,0,0,4,0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5602874,2007,9,16,7,905.0,905,1117.0,1128,DL,1078,...,4,14,0,NaN,0,0,0,0,0,0
5603227,2007,9,16,7,1202.0,1148,1337.0,1332,DL,1577,...,8,13,0,NaN,0,0,0,0,0,0
5603442,2007,9,16,7,802.0,805,932.0,943,DL,1809,...,5,13,0,NaN,0,0,0,0,0,0
5603475,2007,9,16,7,758.0,805,1127.0,1132,DL,1843,...,5,25,0,NaN,0,0,0,0,0,0
5603838,2007,9,17,1,935.0,930,1120.0,1119,DL,621,...,5,29,0,NaN,0,0,0,0,0,0

In [101]:
octRSW07 = RSW07[RSW07['Month']==10]
octRSW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5603972,2007,10,2,2,705.0,705,1001.0,1005,WN,2111,...,2,12,0,NaN,0,0,0,0,0,0
5604581,2007,10,2,2,1804.0,1805,1846.0,1855,WN,147,...,4,11,0,NaN,0,0,0,0,0,0
5604582,2007,10,2,2,1105.0,1055,1157.0,1140,WN,621,...,3,17,0,NaN,0,0,0,7,0,10
5604583,2007,10,2,2,2153.0,2150,2232.0,2235,WN,856,...,4,7,0,NaN,0,0,0,0,0,0
5604584,2007,10,2,2,1337.0,1320,1418.0,1410,WN,2813,...,2,8,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6232878,2007,10,16,2,2117.0,2115,2257.0,2255,DL,1076,...,5,24,0,NaN,0,0,0,0,0,0
6233073,2007,10,16,2,759.0,800,938.0,938,DL,1437,...,6,19,0,NaN,0,0,0,0,0,0
6233184,2007,10,16,2,1155.0,1156,1324.0,1340,DL,1577,...,6,10,0,NaN,0,0,0,0,0,0
6233243,2007,10,16,2,940.0,940,1124.0,1129,DL,1651,...,6,22,0,NaN,0,0,0,0,0,0
6233362,2007,10,16,2,900.0,900,1121.0,1121,DL,1773,...,5,12,0,NaN,0,0,0,0,0,0

In [102]:
novRSW07 = RSW07[RSW07['Month']==11]
novRSW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
6235192,2007,11,3,6,1431.0,1425,1706.0,1705,WN,146,...,3,15,0,NaN,0,0,0,0,0,0
6235193,2007,11,3,6,1047.0,1050,1312.0,1330,WN,631,...,4,6,0,NaN,0,0,0,0,0,0
6235603,2007,11,3,6,709.0,710,1000.0,1015,WN,2111,...,5,10,0,NaN,0,0,0,0,0,0
6236107,2007,11,3,6,1907.0,1820,1956.0,1910,WN,147,...,4,11,0,NaN,0,1,0,0,0,45
6236108,2007,11,3,6,1055.0,1055,1144.0,1145,WN,621,...,3,14,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6838106,2007,11,15,4,856.0,855,1059.0,1122,DL,1773,...,3,8,0,NaN,0,0,0,0,0,0
6838140,2007,11,15,4,748.0,751,919.0,932,DL,1809,...,4,14,0,NaN,0,0,0,0,0,0
6838174,2007,11,15,4,NaN,745,NaN,1138,DL,1843,...,0,0,1,A,0,0,0,0,0,0
6838745,2007,11,16,5,1325.0,1330,1454.0,1510,DL,855,...,6,12,0,NaN,0,0,0,0,0,0
6838935,2007,11,16,5,2126.0,2130,2300.0,2313,DL,1076,...,7,19,0,NaN,0,0,0,0,0,0

In [103]:
decRSW07 = RSW07[RSW07['Month']==12]
decRSW07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
6840500,2007,12,3,1,903.0,905,1150.0,1155,WN,143,...,4,15,0,NaN,0,0,0,0,0,0
6840501,2007,12,3,1,1509.0,1510,1804.0,1800,WN,1743,...,3,19,0,NaN,0,0,0,0,0,0
6841095,2007,12,3,1,640.0,640,954.0,955,WN,3667,...,4,8,0,NaN,0,0,0,0,0,0
6841709,2007,12,3,1,951.0,955,1028.0,1045,WN,150,...,4,7,0,NaN,0,0,0,0,0,0
6841710,2007,12,3,1,2118.0,2105,2158.0,2150,WN,907,...,4,7,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7452516,2007,12,14,5,751.0,755,921.0,936,DL,1153,...,3,10,0,NaN,0,0,0,0,0,0
7452702,2007,12,14,5,916.0,910,1107.0,1057,DL,1461,...,5,29,0,NaN,0,0,0,0,0,0
7452813,2007,12,14,5,1233.0,1220,1414.0,1407,DL,1577,...,6,18,0,NaN,0,0,0,0,0,0
7452996,2007,12,14,5,859.0,900,1118.0,1127,DL,1773,...,6,13,0,NaN,0,0,0,0,0,0
7453068,2007,12,14,5,745.0,745,1323.0,1138,DL,1843,...,6,138,0,NaN,0,0,0,105,0,0

In [104]:
##comparing the number of flights(putting in a table for bettwe comparison)

In [ ]:
##Number of flights in 2006 and 2007

In [108]:
##for DTW
dfDTW = pd.DataFrame({'Month': ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                         'NumberofFlights_2006':[9950, 9292, 10770, 10315,10632, 10396, 11019, 11264, 11035, 11591, 10867, 11269],
                         'NumberofFlights_2007':[15054, 13841, 15477, 14944, 15343, 15066, 15239, 15254, 14175, 14967, 13943, 14168]})
dfDTW

   Month  NumberofFlights_2006  NumberofFlights_2007
0    Jan                  9950                 15054
1    Feb                  9292                 13841
2    Mar                 10770                 15477
3    Apr                 10315                 14944
4    May                 10632                 15343
5    Jun                 10396                 15066
6    Jul                 11019                 15239
7    Aug                 11264                 15254
8    Sep                 11035                 14175
9    Oct                 11591                 14967
10   Nov                 10867                 13943
11   Dec                 11269                 14168

In [110]:
##for DFW
dfDFW = pd.DataFrame({'Month': ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                         'NumberofFlights_2006':[25165, 22803, 25106, 24723, 25722, 25221, 25929, 26194, 24827, 25713, 24445, 25464],
                         'NumberofFlights_2007':[25391, 22731, 25299, 24273, 25454, 24770, 25657, 25777, 24317, 25141, 24239, 24432]})
dfDFW

   Month  NumberofFlights_2006  NumberofFlights_2007
0    Jan                 25165                 25391
1    Feb                 22803                 22731
2    Mar                 25106                 25299
3    Apr                 24723                 24273
4    May                 25722                 25454
5    Jun                 25221                 24770
6    Jul                 25929                 25657
7    Aug                 26194                 25777
8    Sep                 24827                 24317
9    Oct                 25713                 25141
10   Nov                 24445                 24239
11   Dec                 25464                 24432

In [111]:
##for RSW
dfRSW = pd.DataFrame({'Month': ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                         'NumberofFlights_2006':[2483, 2552, 3108, 2858, 1936, 1758, 1816, 1786, 1557, 1766, 2116, 2704],
                         'NumberofFlights_2007':[2908, 2849, 3543, 3063, 2041, 1745, 1764, 1698, 1511, 1745, 2164, 2585]})
dfRSW

   Month  NumberofFlights_2006  NumberofFlights_2007
0    Jan                  2483                  2908
1    Feb                  2552                  2849
2    Mar                  3108                  3543
3    Apr                  2858                  3063
4    May                  1936                  2041
5    Jun                  1758                  1745
6    Jul                  1816                  1764
7    Aug                  1786                  1698
8    Sep                  1557                  1511
9    Oct                  1766                  1745
10   Nov                  2116                  2164
11   Dec                  2704                  2585