In [101]:
#Question 1

In [3]:
import pandas as pd

import matplotlib
import matplotlib.pyplot as plt

In [8]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (1.20.1)

In [4]:
import numpy as np

In [45]:
df = pd.read_csv('2007.csv')

In [10]:
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2007,1,1,1,1232.0,1225,1341.0,1340,WN,2891,...,4,11,0,NaN,0,0,0,0,0,0
1,2007,1,1,1,1918.0,1905,2043.0,2035,WN,462,...,5,6,0,NaN,0,0,0,0,0,0
2,2007,1,1,1,2206.0,2130,2334.0,2300,WN,1229,...,6,9,0,NaN,0,3,0,0,0,31
3,2007,1,1,1,1230.0,1200,1356.0,1330,WN,1355,...,3,8,0,NaN,0,23,0,0,0,3
4,2007,1,1,1,831.0,830,957.0,1000,WN,2278,...,3,9,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7453210,2007,12,15,6,1558.0,1605,1749.0,1736,DL,58,...,14,17,0,NaN,0,0,0,0,0,0
7453211,2007,12,15,6,1902.0,1851,2110.0,2105,DL,59,...,6,21,0,NaN,0,0,0,0,0,0
7453212,2007,12,15,6,1024.0,1025,1750.0,1735,DL,61,...,14,19,0,NaN,0,0,0,15,0,0
7453213,2007,12,15,6,1353.0,1315,1658.0,1622,DL,62,...,11,14,0,NaN,0,0,0,0,0,36
7453214,2007,12,15,6,1824.0,1800,2001.0,1928,DL,63,...,10,26,0,NaN,0,24,0,9,0,0

In [11]:
df1 = df.drop_duplicates()

In [12]:
df1

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2007,1,1,1,1232.0,1225,1341.0,1340,WN,2891,...,4,11,0,NaN,0,0,0,0,0,0
1,2007,1,1,1,1918.0,1905,2043.0,2035,WN,462,...,5,6,0,NaN,0,0,0,0,0,0
2,2007,1,1,1,2206.0,2130,2334.0,2300,WN,1229,...,6,9,0,NaN,0,3,0,0,0,31
3,2007,1,1,1,1230.0,1200,1356.0,1330,WN,1355,...,3,8,0,NaN,0,23,0,0,0,3
4,2007,1,1,1,831.0,830,957.0,1000,WN,2278,...,3,9,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7453210,2007,12,15,6,1558.0,1605,1749.0,1736,DL,58,...,14,17,0,NaN,0,0,0,0,0,0
7453211,2007,12,15,6,1902.0,1851,2110.0,2105,DL,59,...,6,21,0,NaN,0,0,0,0,0,0
7453212,2007,12,15,6,1024.0,1025,1750.0,1735,DL,61,...,14,19,0,NaN,0,0,0,15,0,0
7453213,2007,12,15,6,1353.0,1315,1658.0,1622,DL,62,...,11,14,0,NaN,0,0,0,0,0,36
7453214,2007,12,15,6,1824.0,1800,2001.0,1928,DL,63,...,10,26,0,NaN,0,24,0,9,0,0

In [25]:
import numpy as np
import pandas as pd
import os

import matplotlib
import matplotlib.pyplot as plt

%matplotlib inline

In [16]:
df4 = pd.read_csv('2006.csv')

In [33]:
df5 = df4.drop_duplicates()

In [18]:
df4

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,45,13,0,NaN,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,27,19,0,NaN,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,4,11,0,NaN,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,16,10,0,NaN,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,27,12,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7141917,2006,12,29,5,1246.0,1249,1452.0,1459,DL,1675,...,6,12,0,NaN,0,0,0,0,0,0
7141918,2006,12,29,5,1225.0,1155,2033.0,1931,DL,1676,...,12,35,0,NaN,0,30,0,32,0,0
7141919,2006,12,29,5,2118.0,2115,2254.0,2241,DL,1676,...,9,27,0,NaN,0,0,0,0,0,0
7141920,2006,12,29,5,2122.0,2127,2209.0,2223,DL,1677,...,5,21,0,NaN,0,0,0,0,0,0
7141921,2006,12,29,5,2042.0,2045,2213.0,2235,DL,1678,...,5,15,0,NaN,0,0,0,0,0,0

In [35]:
df5

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,45,13,0,NaN,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,27,19,0,NaN,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,4,11,0,NaN,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,16,10,0,NaN,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,27,12,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7141917,2006,12,29,5,1246.0,1249,1452.0,1459,DL,1675,...,6,12,0,NaN,0,0,0,0,0,0
7141918,2006,12,29,5,1225.0,1155,2033.0,1931,DL,1676,...,12,35,0,NaN,0,30,0,32,0,0
7141919,2006,12,29,5,2118.0,2115,2254.0,2241,DL,1676,...,9,27,0,NaN,0,0,0,0,0,0
7141920,2006,12,29,5,2122.0,2127,2209.0,2223,DL,1677,...,5,21,0,NaN,0,0,0,0,0,0
7141921,2006,12,29,5,2042.0,2045,2213.0,2235,DL,1678,...,5,15,0,NaN,0,0,0,0,0,0

In [37]:
df5.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,45,13,0,NaN,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,27,19,0,NaN,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,4,11,0,NaN,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,16,10,0,NaN,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,27,12,0,NaN,0,0,0,0,0,0

In [38]:
len(df5)

7141915

In [19]:
#subsetting 2006 by months
import pandas as pd
df11 = pd.read_csv('2006.csv')
monthjanDF = df11[df11['Month']==1]

In [77]:
monthjanDF

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,45,13,0,NaN,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,27,19,0,NaN,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,4,11,0,NaN,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,16,10,0,NaN,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,27,12,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581282,2006,1,30,1,1303.0,1300,1542.0,1548,DL,599,...,4,21,0,NaN,0,0,0,0,0,0
581283,2006,1,30,1,2245.0,2245,28.0,27,DL,600,...,6,16,0,NaN,0,0,0,0,0,0
581284,2006,1,30,1,1724.0,1725,1926.0,1922,DL,601,...,7,11,0,NaN,0,0,0,0,0,0
581285,2006,1,30,1,1244.0,1246,1749.0,1738,DL,602,...,7,12,0,NaN,0,0,0,0,0,0
581286,2006,1,30,1,NaN,1830,NaN,2100,DL,602,...,0,0,1,A,0,0,0,0,0,0

In [5]:
import pandas as pd
df11 = pd.read_csv('2006.csv')
monthfebDF = df11[df11['Month']==2]

monthfebDF

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
581287,2006,2,11,6,NaN,1430,NaN,1717,US,1667,...,0,0,1,B,0,0,0,0,0,0
581288,2006,2,1,3,823.0,825,1103.0,1055,US,1685,...,10,19,0,NaN,0,0,0,0,0,0
581289,2006,2,2,4,817.0,825,1051.0,1055,US,1685,...,16,12,0,NaN,0,0,0,0,0,0
581290,2006,2,3,5,855.0,825,1119.0,1055,US,1685,...,14,12,0,NaN,0,24,0,0,0,0
581291,2006,2,6,1,851.0,825,1135.0,1055,US,1685,...,11,15,0,NaN,0,26,0,14,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1112529,2006,2,27,1,1748.0,1750,NaN,2006,DL,527,...,0,22,0,NaN,1,0,0,0,0,0
1112530,2006,2,27,1,2333.0,2115,34.0,2224,DL,527,...,3,12,0,NaN,0,0,0,0,0,130
1112531,2006,2,27,1,1213.0,1144,1940.0,1920,DL,528,...,8,19,0,NaN,0,1,0,0,0,19
1112532,2006,2,27,1,827.0,830,950.0,1003,DL,529,...,10,10,0,NaN,0,0,0,0,0,0
1112533,2006,2,27,1,1857.0,1847,2113.0,2051,DL,530,...,9,16,0,NaN,0,10,0,12,0,0

In [7]:
df11 = pd.read_csv('2006.csv')
monthmarDF = df11[df11['Month']==3]

monthmarDF

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1112534,2006,3,13,1,1511.0,1510,1736.0,1742,US,574,...,4,15,0,NaN,0,0,0,0,0,0
1112535,2006,3,13,1,815.0,750,929.0,840,US,578,...,3,44,0,NaN,0,0,0,49,0,0
1112536,2006,3,13,1,2021.0,2015,2310.0,2305,US,579,...,5,27,0,NaN,0,0,0,0,0,0
1112537,2006,3,13,1,1339.0,1340,1544.0,1603,US,581,...,3,10,0,NaN,0,0,0,0,0,0
1112538,2006,3,13,1,2130.0,2130,438.0,516,US,586,...,4,11,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1717746,2006,3,29,3,1200.0,1200,1438.0,1505,DL,2050,...,6,13,0,NaN,0,0,0,0,0,0
1717747,2006,3,29,3,1622.0,1625,1917.0,1906,DL,2050,...,10,13,0,NaN,0,0,0,0,0,0
1717748,2006,3,29,3,2341.0,2325,701.0,646,DL,2052,...,5,12,0,NaN,0,0,0,0,0,15
1717749,2006,3,29,3,827.0,828,1115.0,1120,DL,2053,...,7,18,0,NaN,0,0,0,0,0,0
1717750,2006,3,29,3,1459.0,1500,1732.0,1734,DL,2054,...,3,11,0,NaN,0,0,0,0,0,0

In [8]:
df11 = pd.read_csv('2006.csv')
monthaprDF = df11[df11['Month']==4]

monthaprDF

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1717751,2006,4,20,4,1706.0,1715,1809.0,1821,US,473,...,2,13,0,NaN,0,0,0,0,0,0
1717752,2006,4,21,5,1708.0,1715,1810.0,1821,US,473,...,3,7,0,NaN,0,0,0,0,0,0
1717753,2006,4,23,7,1709.0,1715,1811.0,1821,US,473,...,5,8,0,NaN,0,0,0,0,0,0
1717754,2006,4,24,1,1727.0,1715,1829.0,1821,US,473,...,3,11,0,NaN,0,0,0,0,0,0
1717755,2006,4,25,2,1658.0,1715,1807.0,1821,US,473,...,5,12,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2303097,2006,4,27,4,1726.0,1730,1904.0,1921,DL,1706,...,4,15,0,NaN,0,0,0,0,0,0
2303098,2006,4,27,4,1057.0,1101,1814.0,1821,DL,1708,...,6,13,0,NaN,0,0,0,0,0,0
2303099,2006,4,27,4,1513.0,1514,1622.0,1623,DL,1709,...,4,13,0,NaN,0,0,0,0,0,0
2303100,2006,4,27,4,1839.0,1840,2100.0,2101,DL,1710,...,7,15,0,NaN,0,0,0,0,0,0
2303101,2006,4,27,4,1450.0,1455,1505.0,1517,DL,1712,...,10,12,0,NaN,0,0,0,0,0,0

In [9]:
df11 = pd.read_csv('2006.csv')
monthmayDF = df11[df11['Month']==5]

monthmayDF

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2303102,2006,5,8,1,705.0,700,917.0,915,US,560,...,6,9,0,NaN,0,0,0,0,0,0
2303103,2006,5,9,2,702.0,700,913.0,915,US,560,...,2,10,0,NaN,0,0,0,0,0,0
2303104,2006,5,10,3,705.0,700,920.0,915,US,560,...,5,10,0,NaN,0,0,0,0,0,0
2303105,2006,5,11,4,659.0,700,930.0,915,US,560,...,8,9,0,NaN,0,0,0,15,0,0
2303106,2006,5,12,5,700.0,700,922.0,915,US,560,...,8,11,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2906016,2006,5,31,3,1222.0,1155,1422.0,1345,DL,387,...,11,24,0,NaN,0,27,0,10,0,0
2906017,2006,5,31,3,1436.0,1438,1436.0,1445,DL,387,...,4,9,0,NaN,0,0,0,0,0,0
2906018,2006,5,31,3,1830.0,1800,2057.0,2037,DL,389,...,9,25,0,NaN,0,0,0,17,0,3
2906019,2006,5,31,3,706.0,710,835.0,838,DL,391,...,7,17,0,NaN,0,0,0,0,0,0
2906020,2006,5,31,3,1615.0,1615,1755.0,1804,DL,392,...,6,14,0,NaN,0,0,0,0,0,0

In [10]:
df11 = pd.read_csv('2006.csv')
monthjunDF = df11[df11['Month']==6]

monthjunDF

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2906021,2006,6,26,1,1642.0,1430,1842.0,1630,US,1216,...,6,8,0,NaN,0,5,0,0,0,127
2906022,2006,6,27,2,1504.0,1430,1849.0,1630,US,1216,...,3,110,0,NaN,0,9,0,105,0,25
2906023,2006,6,28,3,1432.0,1430,1631.0,1630,US,1216,...,3,14,0,NaN,0,0,0,0,0,0
2906024,2006,6,29,4,1452.0,1430,1653.0,1630,US,1216,...,4,14,0,NaN,0,21,0,1,0,1
2906025,2006,6,30,5,1437.0,1430,1632.0,1630,US,1216,...,3,15,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3504331,2006,6,29,4,1539.0,1535,1636.0,1632,DL,1111,...,4,16,0,NaN,0,0,0,0,0,0
3504332,2006,6,29,4,2026.0,2023,2153.0,2206,DL,1112,...,5,14,0,NaN,0,0,0,0,0,0
3504333,2006,6,29,4,815.0,815,1010.0,1023,DL,1115,...,8,18,0,NaN,0,0,0,0,0,0
3504334,2006,6,29,4,1031.0,1030,1228.0,1235,DL,1116,...,8,9,0,NaN,0,0,0,0,0,0
3504335,2006,6,29,4,834.0,800,946.0,911,DL,1117,...,9,23,0,NaN,0,10,0,1,0,24

In [11]:
df11 = pd.read_csv('2006.csv')
monthjulDF = df11[df11['Month']==7]

monthjulDF

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3504336,2006,7,3,1,1608.0,1610,1724.0,1720,WN,2160,...,7,15,0,NaN,0,0,0,0,0,0
3504337,2006,7,3,1,NaN,1235,NaN,1345,WN,2320,...,0,0,1,A,0,0,0,0,0,0
3504338,2006,7,3,1,1917.0,1920,2215.0,2215,WN,1115,...,4,25,0,NaN,0,0,0,0,0,0
3504339,2006,7,3,1,1314.0,1315,1553.0,1610,WN,2418,...,3,11,0,NaN,0,0,0,0,0,0
3504340,2006,7,3,1,1857.0,1900,1943.0,1950,WN,318,...,4,5,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4125575,2006,7,30,7,1719.0,1704,1824.0,1815,DL,1172,...,4,18,0,NaN,0,0,0,0,0,0
4125576,2006,7,30,7,1906.0,1915,2052.0,2100,DL,1173,...,19,17,0,NaN,0,0,0,0,0,0
4125577,2006,7,30,7,2004.0,1930,2146.0,2129,DL,1176,...,6,14,0,NaN,0,5,0,0,0,12
4125578,2006,7,30,7,1011.0,1009,1033.0,1027,DL,1177,...,8,31,0,NaN,0,0,0,0,0,0
4125579,2006,7,30,7,629.0,630,913.0,920,DL,1181,...,5,15,0,NaN,0,0,0,0,0,0

In [12]:
df11 = pd.read_csv('2006.csv')
monthaugDF = df11[df11['Month']==8]

monthaugDF

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4125580,2006,8,3,4,1554.0,1350,1728.0,1525,WN,2406,...,5,14,0,NaN,0,28,0,0,0,95
4125581,2006,8,3,4,1647.0,1620,1816.0,1755,WN,2541,...,5,7,0,NaN,0,19,0,0,0,2
4125582,2006,8,3,4,1500.0,1450,1729.0,1735,WN,499,...,2,18,0,NaN,0,0,0,0,0,0
4125583,2006,8,3,4,649.0,650,754.0,800,WN,247,...,3,6,0,NaN,0,0,0,0,0,0
4125584,2006,8,3,4,1457.0,1450,1549.0,1600,WN,291,...,3,8,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4754307,2006,8,31,4,1438.0,1323,1616.0,1445,DL,349,...,15,9,0,NaN,0,24,0,16,0,51
4754308,2006,8,31,4,718.0,700,932.0,931,DL,350,...,7,14,0,NaN,0,0,0,0,0,0
4754309,2006,8,31,4,654.0,700,917.0,854,DL,353,...,15,21,0,NaN,0,0,0,23,0,0
4754310,2006,8,31,4,1020.0,949,1215.0,1120,DL,353,...,5,48,0,NaN,0,13,0,24,0,18
4754311,2006,8,31,4,821.0,816,1030.0,1022,DL,354,...,14,25,0,NaN,0,0,0,0,0,0

In [13]:
df11 = pd.read_csv('2006.csv')
monthsepDF = df11[df11['Month']==9]

monthsepDF

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4754312,2006,9,3,7,830.0,830,1027.0,1030,WN,3708,...,4,8,0,NaN,0,0,0,0,0,0
4754313,2006,9,3,7,1426.0,1430,1731.0,1745,WN,123,...,3,13,0,NaN,0,0,0,0,0,0
4754314,2006,9,3,7,840.0,845,927.0,930,WN,325,...,2,11,0,NaN,0,0,0,0,0,0
4754315,2006,9,3,7,1521.0,1520,1606.0,1610,WN,1243,...,2,12,0,NaN,0,0,0,0,0,0
4754316,2006,9,3,7,1231.0,1235,1459.0,1520,WN,333,...,2,9,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5339244,2006,9,19,2,1746.0,1746,1908.0,1901,EV,4111,...,4,32,0,NaN,0,0,0,0,0,0
5339245,2006,9,20,3,1746.0,1746,1912.0,1901,EV,4111,...,2,38,0,NaN,0,0,0,0,0,0
5339246,2006,9,21,4,1742.0,1746,1917.0,1901,EV,4111,...,6,40,0,NaN,0,0,0,16,0,0
5339247,2006,9,22,5,1830.0,1746,1955.0,1901,EV,4111,...,7,32,0,NaN,0,44,0,10,0,0
5339248,2006,9,23,6,1752.0,1746,1901.0,1901,EV,4111,...,4,19,0,NaN,0,0,0,0,0,0

In [14]:
df11 = pd.read_csv('2006.csv')
monthoctDF = df11[df11['Month']==10]

monthoctDF

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5339249,2006,10,3,2,1311.0,1315,1406.0,1420,WN,1482,...,2,9,0,NaN,0,0,0,0,0,0
5339250,2006,10,3,2,1456.0,1455,1548.0,1555,WN,1546,...,2,6,0,NaN,0,0,0,0,0,0
5339251,2006,10,3,2,1557.0,1555,1652.0,1655,WN,1800,...,2,8,0,NaN,0,0,0,0,0,0
5339252,2006,10,3,2,2110.0,2110,2206.0,2210,WN,1891,...,2,9,0,NaN,0,0,0,0,0,0
5339253,2006,10,3,2,1700.0,1700,1758.0,1800,WN,2852,...,4,8,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5950962,2006,10,4,3,2200.0,2118,2314.0,2243,EV,4089,...,2,15,0,NaN,0,0,0,0,0,31
5950963,2006,10,5,4,2126.0,2118,2248.0,2243,EV,4089,...,3,18,0,NaN,0,0,0,0,0,0
5950964,2006,10,6,5,2123.0,2118,2239.0,2243,EV,4089,...,2,16,0,NaN,0,0,0,0,0,0
5950965,2006,10,8,7,2237.0,2118,2352.0,2243,EV,4089,...,2,13,0,NaN,0,0,0,0,0,69
5950966,2006,10,9,1,2242.0,2118,2349.0,2243,EV,4089,...,2,4,0,NaN,0,66,0,0,0,0

In [15]:
df11 = pd.read_csv('2006.csv')
monthnovDF = df11[df11['Month']==11]

monthnovDF

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5950967,2006,11,3,5,616.0,615,708.0,710,WN,1628,...,3,9,0,NaN,0,0,0,0,0,0
5950968,2006,11,3,5,1041.0,1015,1147.0,1120,WN,12,...,3,11,0,NaN,0,5,0,1,0,21
5950969,2006,11,3,5,1329.0,1320,1429.0,1425,WN,24,...,1,8,0,NaN,0,0,0,0,0,0
5950970,2006,11,3,5,1611.0,1525,1709.0,1630,WN,32,...,3,7,0,NaN,0,0,0,0,0,39
5950971,2006,11,3,5,1850.0,1850,1946.0,1955,WN,46,...,2,6,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6537159,2006,11,29,3,1454.0,1445,1817.0,1808,DL,1869,...,3,22,0,NaN,0,0,0,0,0,0
6537160,2006,11,29,3,1907.0,1920,2307.0,2248,DL,1871,...,4,76,0,NaN,0,0,0,19,0,0
6537161,2006,11,29,3,1109.0,1100,1403.0,1355,DL,1872,...,8,10,0,NaN,0,0,0,0,0,0
6537162,2006,11,29,3,1402.0,1403,1428.0,1438,DL,1873,...,4,8,0,NaN,0,0,0,0,0,0
6537163,2006,11,29,3,1756.0,1759,2225.0,2127,DL,1874,...,19,98,0,NaN,0,0,0,58,0,0

In [16]:
df11 = pd.read_csv('2006.csv')
monthdecDF = df11[df11['Month']==12]

monthdecDF

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
6537164,2006,12,3,7,814.0,815,900.0,910,WN,2050,...,6,10,0,NaN,0,0,0,0,0,0
6537165,2006,12,3,7,1446.0,1440,1542.0,1540,WN,2119,...,5,13,0,NaN,0,0,0,0,0,0
6537166,2006,12,3,7,1939.0,1935,2038.0,2035,WN,2594,...,4,20,0,NaN,0,0,0,0,0,0
6537167,2006,12,3,7,1122.0,1120,1314.0,1330,WN,684,...,4,14,0,NaN,0,0,0,0,0,0
6537168,2006,12,3,7,1338.0,1340,1534.0,1550,WN,966,...,5,11,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7141917,2006,12,29,5,1246.0,1249,1452.0,1459,DL,1675,...,6,12,0,NaN,0,0,0,0,0,0
7141918,2006,12,29,5,1225.0,1155,2033.0,1931,DL,1676,...,12,35,0,NaN,0,30,0,32,0,0
7141919,2006,12,29,5,2118.0,2115,2254.0,2241,DL,1676,...,9,27,0,NaN,0,0,0,0,0,0
7141920,2006,12,29,5,2122.0,2127,2209.0,2223,DL,1677,...,5,21,0,NaN,0,0,0,0,0,0
7141921,2006,12,29,5,2042.0,2045,2213.0,2235,DL,1678,...,5,15,0,NaN,0,0,0,0,0,0

In [25]:
monthjanDF["DepDelay"].mean()

8.07821697287839

In [24]:
monthfebDF["DepDelay"].mean()

9.142587613519657

In [26]:
monthmarDF["DepDelay"].mean()

9.755770701319042

In [27]:
monthaprDF["DepDelay"].mean()

8.194027787617042

In [28]:
monthmayDF["DepDelay"].mean()

8.540831601948103

In [29]:
monthjunDF["DepDelay"].mean()

12.933676964845205

In [30]:
monthjulDF["DepDelay"].mean()

12.703435985382688

In [31]:
monthaugDF["DepDelay"].mean()

9.9368251665323

In [32]:
monthsepDF["DepDelay"].mean()

8.760105880654693

In [33]:
monthoctDF["DepDelay"].mean()

10.645491813519145

In [34]:
monthnovDF["DepDelay"].mean()

8.958552924793501

In [35]:
monthdecDF["DepDelay"].mean()

13.155174000790913

In [36]:
monthjanDF["ArrDelay"].mean()

5.628670654061354

In [37]:
monthfebDF["ArrDelay"].mean()

7.359394190631357

In [38]:
monthmarDF["ArrDelay"].mean()

7.926261109192763

In [39]:
monthaprDF["ArrDelay"].mean()

6.42371018386133

In [41]:
monthmayDF["ArrDelay"].mean()

6.887169414051858

In [42]:
monthjunDF["ArrDelay"].mean()

12.0455579467206

In [43]:
monthjulDF["ArrDelay"].mean()

11.311533589317666

In [44]:
monthaugDF["ArrDelay"].mean()

8.687386516224231

In [45]:
monthsepDF["ArrDelay"].mean()

8.394922875816993

In [46]:
monthoctDF["ArrDelay"].mean()

10.687462234136667

In [47]:
monthnovDF["ArrDelay"].mean()

7.258614938235141

In [48]:
monthdecDF["ArrDelay"].mean()

11.179542468360811

In [52]:
#subsetting 2007 by months
import pandas as pd
df12 = pd.read_csv('2007.csv')
monthjanDF07 = df12[df12['Month']==1]
monthfebDF07 = df12[df12['Month']==2]
monthmarDF07 = df12[df12['Month']==3]
monthaprDF07 = df12[df12['Month']==4]
monthmayDF07 = df12[df12['Month']==5]
monthjunDF07 = df12[df12['Month']==6]
monthjulDF07 = df12[df12['Month']==7]
monthaugDF07 = df12[df12['Month']==8]
monthsepDF07 = df12[df12['Month']==9]
monthoctDF07 = df12[df12['Month']==10]
monthnovDF07 = df12[df12['Month']==11]
monthdecDF07 = df12[df12['Month']==12]

In [53]:
monthjanDF07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2007,1,1,1,1232.0,1225,1341.0,1340,WN,2891,...,4,11,0,NaN,0,0,0,0,0,0
1,2007,1,1,1,1918.0,1905,2043.0,2035,WN,462,...,5,6,0,NaN,0,0,0,0,0,0
2,2007,1,1,1,2206.0,2130,2334.0,2300,WN,1229,...,6,9,0,NaN,0,3,0,0,0,31
3,2007,1,1,1,1230.0,1200,1356.0,1330,WN,1355,...,3,8,0,NaN,0,23,0,0,0,3
4,2007,1,1,1,831.0,830,957.0,1000,WN,2278,...,3,9,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621554,2007,1,17,3,1211.0,1142,1310.0,1240,DL,1767,...,5,25,0,NaN,0,0,0,1,0,29
621555,2007,1,17,3,1711.0,1716,1956.0,2035,DL,1769,...,7,12,0,NaN,0,0,0,0,0,0
621556,2007,1,17,3,NaN,830,NaN,1158,DL,1770,...,0,0,1,A,0,0,0,0,0,0
621557,2007,1,17,3,1833.0,1840,2144.0,2149,DL,1771,...,9,14,0,NaN,0,0,0,0,0,0
621558,2007,1,17,3,NaN,1203,NaN,1910,DL,1772,...,0,0,1,B,0,0,0,0,0,0

In [54]:
monthfebDF07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
621559,2007,2,1,4,1040.0,1035,1519.0,1525,WN,924,...,4,14,0,NaN,0,0,0,0,0,0
621560,2007,2,1,4,1909.0,1830,2335.0,2315,WN,1011,...,4,10,0,NaN,0,0,0,0,0,20
621561,2007,2,1,4,1316.0,1315,1756.0,1805,WN,1123,...,5,16,0,NaN,0,0,0,0,0,0
621562,2007,2,1,4,1613.0,1620,2050.0,2115,WN,1622,...,6,15,0,NaN,0,0,0,0,0,0
621563,2007,2,1,4,828.0,830,1533.0,1545,WN,777,...,12,11,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187158,2007,2,15,4,1133.0,1133,1253.0,1250,DL,970,...,7,24,0,NaN,0,0,0,0,0,0
1187159,2007,2,15,4,1936.0,1714,2236.0,2035,DL,971,...,6,22,0,NaN,0,13,0,0,0,108
1187160,2007,2,15,4,601.0,600,938.0,856,DL,972,...,9,27,0,NaN,0,0,0,42,0,0
1187161,2007,2,15,4,658.0,700,1339.0,1347,DL,973,...,6,22,0,NaN,0,0,0,0,0,0
1187162,2007,2,15,4,1346.0,1330,1554.0,1535,DL,974,...,13,15,0,NaN,0,0,0,3,0,16

In [55]:
monthmarDF07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1187163,2007,3,1,4,1311.0,1310,1449.0,1455,WN,1050,...,6,9,0,NaN,0,0,0,0,0,0
1187164,2007,3,1,4,806.0,805,1145.0,1155,WN,292,...,3,6,0,NaN,0,0,0,0,0,0
1187165,2007,3,1,4,1553.0,1555,1946.0,1945,WN,583,...,7,7,0,NaN,0,0,0,0,0,0
1187166,2007,3,1,4,2017.0,1955,2347.0,2340,WN,1468,...,5,9,0,NaN,0,0,0,0,0,0
1187167,2007,3,1,4,1221.0,1215,1551.0,1605,WN,2681,...,2,10,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1826367,2007,3,16,5,2249.0,2250,558.0,559,DL,1002,...,4,9,0,NaN,0,0,0,0,0,0
1826368,2007,3,16,5,1533.0,1535,1749.0,1742,DL,1003,...,12,14,0,NaN,0,0,0,0,0,0
1826369,2007,3,16,5,1838.0,1829,2030.0,2045,DL,1003,...,8,15,0,NaN,0,0,0,0,0,0
1826370,2007,3,16,5,1705.0,1626,1919.0,1839,DL,1005,...,4,31,0,NaN,0,39,0,1,0,0
1826371,2007,3,16,5,633.0,635,1409.0,1352,DL,1006,...,6,21,0,NaN,0,0,0,17,0,0

In [56]:
monthaprDF07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1826372,2007,4,1,7,1209.0,1215,1305.0,1315,WN,615,...,5,7,0,NaN,0,0,0,0,0,0
1826373,2007,4,1,7,2202.0,2120,2254.0,2220,WN,1211,...,3,7,0,NaN,0,20,0,0,0,14
1826374,2007,4,1,7,1443.0,1445,1541.0,1545,WN,1594,...,4,9,0,NaN,0,0,0,0,0,0
1826375,2007,4,1,7,1758.0,1805,1857.0,1905,WN,2847,...,3,6,0,NaN,0,0,0,0,0,0
1826376,2007,4,1,7,1346.0,1325,1539.0,1535,WN,569,...,4,6,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2441015,2007,4,16,1,2135.0,2140,2353.0,2357,DL,518,...,10,19,0,NaN,0,0,0,0,0,0
2441016,2007,4,16,1,703.0,705,856.0,847,DL,519,...,6,25,0,NaN,0,0,0,0,0,0
2441017,2007,4,16,1,1828.0,1755,2018.0,2013,DL,520,...,6,16,0,NaN,0,0,0,0,0,0
2441018,2007,4,16,1,830.0,830,1014.0,1016,DL,523,...,7,10,0,NaN,0,0,0,0,0,0
2441019,2007,4,16,1,1238.0,1240,1424.0,1423,DL,525,...,8,18,0,NaN,0,0,0,0,0,0

In [57]:
monthmayDF07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2441020,2007,5,2,3,1459.0,1500,1557.0,1605,WN,1011,...,3,7,0,NaN,0,0,0,0,0,0
2441021,2007,5,2,3,919.0,920,1021.0,1020,WN,8,...,3,7,0,NaN,0,0,0,0,0,0
2441022,2007,5,2,3,1422.0,1420,1518.0,1520,WN,28,...,3,6,0,NaN,0,0,0,0,0,0
2441023,2007,5,2,3,1843.0,1850,1948.0,1950,WN,46,...,4,11,0,NaN,0,0,0,0,0,0
2441024,2007,5,2,3,2258.0,2120,10.0,2215,WN,56,...,2,20,0,NaN,0,0,1,17,0,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3072624,2007,5,17,4,1228.0,1230,1353.0,1336,DL,1919,...,5,13,0,NaN,0,0,0,17,0,0
3072625,2007,5,17,4,1229.0,1230,1349.0,1336,DL,1920,...,7,40,0,NaN,0,0,0,0,0,0
3072626,2007,5,17,4,1342.0,1330,1443.0,1445,DL,1921,...,3,14,0,NaN,0,0,0,0,0,0
3072627,2007,5,17,4,1331.0,1330,1436.0,1435,DL,1922,...,13,18,0,NaN,0,0,0,0,0,0
3072628,2007,5,17,4,1428.0,1430,1533.0,1539,DL,1923,...,3,16,0,NaN,0,0,0,0,0,0

In [58]:
monthjunDF07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3072629,2007,6,1,5,1554.0,1555,1711.0,1715,WN,1075,...,2,5,0,NaN,0,0,0,0,0,0
3072630,2007,6,1,5,741.0,740,904.0,905,WN,1739,...,1,12,0,NaN,0,0,0,0,0,0
3072631,2007,6,1,5,633.0,630,754.0,750,WN,2335,...,2,9,0,NaN,0,0,0,0,0,0
3072632,2007,6,1,5,1155.0,1055,1910.0,1825,WN,96,...,3,5,0,NaN,0,0,40,0,0,5
3072633,2007,6,1,5,1417.0,1340,2138.0,2105,WN,687,...,5,8,0,NaN,0,0,0,26,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3701904,2007,6,17,7,736.0,710,1016.0,1017,DL,1697,...,10,11,0,NaN,0,0,0,0,0,0
3701905,2007,6,17,7,1241.0,1242,1342.0,1346,DL,1698,...,4,15,0,NaN,0,0,0,0,0,0
3701906,2007,6,17,7,2125.0,2130,608.0,601,DL,1699,...,9,26,0,NaN,0,0,0,0,0,0
3701907,2007,6,17,7,1730.0,1730,2034.0,2046,DL,1700,...,9,23,0,NaN,0,0,0,0,0,0
3701908,2007,6,17,7,1435.0,1428,1610.0,1602,DL,1701,...,6,22,0,NaN,0,0,0,0,0,0

In [59]:
monthjulDF07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3701909,2007,7,1,7,2052.0,2050,2153.0,2155,WN,575,...,5,6,0,NaN,0,0,0,0,0,0
3701910,2007,7,1,7,1309.0,1250,1408.0,1355,WN,692,...,2,6,0,NaN,0,0,0,0,0,0
3701911,2007,7,1,7,1511.0,1510,1611.0,1615,WN,936,...,2,8,0,NaN,0,0,0,0,0,0
3701912,2007,7,1,7,1010.0,1005,1107.0,1110,WN,1294,...,2,6,0,NaN,0,0,0,0,0,0
3701913,2007,7,1,7,1843.0,1845,1940.0,1950,WN,1620,...,2,5,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4350464,2007,7,18,3,658.0,700,808.0,805,DL,1059,...,13,15,0,NaN,0,0,0,0,0,0
4350465,2007,7,18,3,725.0,720,915.0,903,DL,1061,...,5,19,0,NaN,0,0,0,0,0,0
4350466,2007,7,18,3,1614.0,1623,1749.0,1747,DL,1064,...,13,15,0,NaN,0,0,0,0,0,0
4350467,2007,7,18,3,1916.0,1842,2020.0,1951,DL,1064,...,11,19,0,NaN,0,29,0,0,0,0
4350468,2007,7,18,3,2112.0,2005,2355.0,2244,DL,1066,...,11,18,0,NaN,0,9,0,4,0,58

In [60]:
monthaugDF07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4350469,2007,8,2,4,920.0,920,1119.0,1130,WN,953,...,2,7,0,NaN,0,0,0,0,0,0
4350470,2007,8,2,4,1824.0,1825,2021.0,2035,WN,1708,...,3,8,0,NaN,0,0,0,0,0,0
4350471,2007,8,2,4,1715.0,1630,1957.0,1915,WN,169,...,9,8,0,NaN,0,21,0,0,0,21
4350472,2007,8,2,4,1523.0,1520,1806.0,1805,WN,527,...,4,12,0,NaN,0,0,0,0,0,0
4350473,2007,8,2,4,1204.0,1150,1442.0,1435,WN,986,...,4,8,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003743,2007,8,17,5,835.0,837,935.0,931,DL,1292,...,7,30,0,NaN,0,0,0,0,0,0
5003744,2007,8,17,5,2035.0,1951,2048.0,2010,DL,1293,...,6,19,0,NaN,0,9,0,0,0,29
5003745,2007,8,17,5,624.0,630,809.0,816,DL,1294,...,10,9,0,NaN,0,0,0,0,0,0
5003746,2007,8,17,5,1012.0,1017,1114.0,1125,DL,1296,...,10,9,0,NaN,0,0,0,0,0,0
5003747,2007,8,17,5,1217.0,1215,1429.0,1436,DL,1296,...,4,12,0,NaN,0,0,0,0,0,0

In [61]:
monthsepDF07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5003748,2007,9,2,7,954.0,955,1058.0,1105,WN,1876,...,7,8,0,NaN,0,0,0,0,0,0
5003749,2007,9,2,7,2027.0,2030,2128.0,2135,WN,2068,...,3,10,0,NaN,0,0,0,0,0,0
5003750,2007,9,2,7,1949.0,1945,2052.0,2055,WN,2229,...,3,12,0,NaN,0,0,0,0,0,0
5003751,2007,9,2,7,943.0,945,1104.0,1120,WN,680,...,5,7,0,NaN,0,0,0,0,0,0
5003752,2007,9,2,7,1126.0,1130,1606.0,1605,WN,371,...,2,11,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5603930,2007,9,17,1,857.0,859,1042.0,1050,DL,717,...,9,12,0,NaN,0,0,0,0,0,0
5603931,2007,9,17,1,606.0,615,801.0,818,DL,718,...,7,20,0,NaN,0,0,0,0,0,0
5603932,2007,9,17,1,908.0,910,910.0,928,DL,718,...,6,10,0,NaN,0,0,0,0,0,0
5603933,2007,9,17,1,1512.0,1520,1648.0,1705,DL,719,...,10,9,0,NaN,0,0,0,0,0,0
5603934,2007,9,17,1,631.0,635,1346.0,1357,DL,720,...,9,23,0,NaN,0,0,0,0,0,0

In [62]:
monthoctDF07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5603935,2007,10,2,2,1102.0,1040,1100.0,1030,WN,415,...,13,9,0,NaN,0,0,0,8,0,22
5603936,2007,10,2,2,728.0,730,712.0,720,WN,917,...,4,7,0,NaN,0,0,0,0,0,0
5603937,2007,10,2,2,1855.0,1855,1842.0,1845,WN,1022,...,5,9,0,NaN,0,0,0,0,0,0
5603938,2007,10,2,2,1530.0,1535,1522.0,1525,WN,2081,...,4,15,0,NaN,0,0,0,0,0,0
5603939,2007,10,2,2,1500.0,1500,1544.0,1550,WN,1033,...,5,7,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6233922,2007,10,17,3,854.0,855,1027.0,1048,DL,717,...,8,12,0,NaN,0,0,0,0,0,0
6233923,2007,10,17,3,606.0,615,815.0,821,DL,718,...,6,28,0,NaN,0,0,0,0,0,0
6233924,2007,10,17,3,906.0,910,918.0,928,DL,718,...,9,17,0,NaN,0,0,0,0,0,0
6233925,2007,10,17,3,1519.0,1520,1700.0,1710,DL,719,...,7,10,0,NaN,0,0,0,0,0,0
6233926,2007,10,17,3,702.0,630,1427.0,1341,DL,720,...,21,28,0,NaN,0,32,0,14,0,0

In [63]:
monthnovDF07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
6233927,2007,11,2,5,735.0,740,925.0,935,WN,1218,...,5,15,0,NaN,0,0,0,0,0,0
6233928,2007,11,2,5,2048.0,2050,2217.0,2235,WN,1726,...,2,5,0,NaN,0,0,0,0,0,0
6233929,2007,11,2,5,1128.0,1130,1311.0,1320,WN,2426,...,6,11,0,NaN,0,0,0,0,0,0
6233930,2007,11,2,5,2001.0,2005,2100.0,2110,WN,44,...,2,8,0,NaN,0,0,0,0,0,0
6233931,2007,11,2,5,2157.0,2130,2301.0,2235,WN,156,...,4,7,0,NaN,0,18,0,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6839071,2007,11,16,5,703.0,650,1429.0,1420,DL,1245,...,8,17,0,NaN,0,0,0,0,0,0
6839072,2007,11,16,5,2250.0,2255,613.0,623,DL,1246,...,6,11,0,NaN,0,0,0,0,0,0
6839073,2007,11,16,5,1408.0,1406,1528.0,1529,DL,1247,...,7,13,0,NaN,0,0,0,0,0,0
6839074,2007,11,16,5,2153.0,2150,36.0,23,DL,1251,...,9,27,0,NaN,0,0,0,0,0,0
6839075,2007,11,16,5,1736.0,1740,2001.0,2009,DL,1252,...,12,14,0,NaN,0,0,0,0,0,0

In [64]:
monthdecDF07

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
6839076,2007,12,2,7,1028.0,1010,1030.0,1020,WN,1866,...,4,14,0,NaN,0,0,0,0,0,0
6839077,2007,12,2,7,728.0,730,722.0,730,WN,2030,...,3,8,0,NaN,0,0,0,0,0,0
6839078,2007,12,2,7,1546.0,1545,1545.0,1550,WN,2803,...,3,11,0,NaN,0,0,0,0,0,0
6839079,2007,12,2,7,2039.0,2030,2037.0,2035,WN,3061,...,8,6,0,NaN,0,0,0,0,0,0
6839080,2007,12,2,7,1541.0,1540,1557.0,1600,WN,169,...,5,10,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7453210,2007,12,15,6,1558.0,1605,1749.0,1736,DL,58,...,14,17,0,NaN,0,0,0,0,0,0
7453211,2007,12,15,6,1902.0,1851,2110.0,2105,DL,59,...,6,21,0,NaN,0,0,0,0,0,0
7453212,2007,12,15,6,1024.0,1025,1750.0,1735,DL,61,...,14,19,0,NaN,0,0,0,15,0,0
7453213,2007,12,15,6,1353.0,1315,1658.0,1622,DL,62,...,11,14,0,NaN,0,0,0,0,0,36
7453214,2007,12,15,6,1824.0,1800,2001.0,1928,DL,63,...,10,26,0,NaN,0,24,0,9,0,0

In [65]:
monthjanDF07["DepDelay"].mean()

10.286743415948312

In [66]:
monthfebDF07["DepDelay"].mean()

14.02253123732965

In [67]:
monthmarDF07["DepDelay"].mean()

11.836802542694253

In [68]:
monthaprDF07["DepDelay"].mean()

10.07771370814071

In [69]:
monthmayDF07["DepDelay"].mean()

8.329205401044868

In [70]:
monthjunDF07["DepDelay"].mean()

16.214701071994014

In [71]:
monthjulDF07["DepDelay"].mean()

14.802613636005757

In [72]:
monthaugDF07["DepDelay"].mean()

13.515875591278409

In [73]:
monthsepDF07["DepDelay"].mean()

6.157685958765665

In [74]:
monthoctDF07["DepDelay"].mean()

7.973724233737243

In [75]:
monthnovDF07["DepDelay"].mean()

7.446888306310218

In [76]:
monthdecDF07["DepDelay"].mean()

16.201398473962534

In [77]:
monthjanDF07["ArrDelay"].mean()

9.162151701506165

In [78]:
monthfebDF07["ArrDelay"].mean()

13.51979483296776

In [79]:
monthmarDF07["ArrDelay"].mean()

10.084908470559062

In [80]:
monthaprDF07["ArrDelay"].mean()

8.516229825822615

In [81]:
monthmayDF07["ArrDelay"].mean()

7.037888681043307

In [82]:
monthjunDF07["ArrDelay"].mean()

16.17952800579826

In [83]:
monthjulDF07["ArrDelay"].mean()

14.107679837700504

In [84]:
monthaugDF07["ArrDelay"].mean()

12.57153344196042

In [85]:
monthsepDF07["ArrDelay"].mean()

3.7494980749698845

In [86]:
monthoctDF07["ArrDelay"].mean()

6.5082592714725775

In [89]:
monthnovDF07["ArrDelay"].mean()

4.793344024722863

In [90]:
monthdecDF07["ArrDelay"].mean()

16.213714049846818

In [ ]:
#subsetting 2006 by days
import pandas as pd
df11 = pd.read_csv('2006.csv')
daymonDF = df11[df11['DayOfWeek']==1]
daytueDF = df11[df11['DayOfWeek']==2]
daywedDF = df11[df11['DayOfWeek']==3]
daythuDF = df11[df11['DayOfWeek']==4]
dayfriDF = df11[df11['DayOfWeek']==5]
daysatDF = df11[df11['DayOfWeek']==6]
daysunDF = df11[df11['DayOfWeek']==7]

In [92]:
#finding avg departure delay of each day in 2006

In [95]:
daymonDF["DepDelay"].mean()

10.343309566994582

In [97]:
daytueDF["DepDelay"].mean()

7.70399619869695

In [98]:
daywedDF["DepDelay"].mean()

9.755770701319042

In [99]:
daythuDF["DepDelay"].mean()

8.194027787617042

In [100]:
dayfriDF["DepDelay"].mean()

8.540831601948103

In [101]:
daysatDF["DepDelay"].mean()

12.933676964845205

In [102]:
daysunDF["DepDelay"].mean()

12.703435985382688

In [ ]:
#finding avg arrival delay of each day in 2006

In [103]:
daymonDF["ArrDelay"].mean()

8.84253901796519

In [104]:
daytueDF["ArrDelay"].mean()

6.19516278298006

In [105]:
daywedDF["ArrDelay"].mean()

7.926261109192763

In [106]:
daythuDF["ArrDelay"].mean()

6.42371018386133

In [107]:
dayfriDF["ArrDelay"].mean()

6.887169414051858

In [108]:
daysatDF["ArrDelay"].mean()

12.0455579467206

In [109]:
daysunDF["ArrDelay"].mean()

11.311533589317666

In [110]:
#subsetting 2007 by days
import pandas as pd
df12 = pd.read_csv('2007.csv')
daymonDF07 = df12[df12['DayOfWeek']==1]
daytueDF07 = df12[df12['DayOfWeek']==2]
daywedDF07 = df12[df12['DayOfWeek']==3]
daythuDF07 = df12[df12['DayOfWeek']==4]
dayfriDF07 = df12[df12['DayOfWeek']==5]
daysatDF07 = df12[df12['DayOfWeek']==6]
daysunDF07 = df12[df12['DayOfWeek']==7]

In [ ]:
#finding average departure delay of each day in 2007

In [125]:
daymonDF07["DepDelay"].mean()

11.892415704828622

In [126]:
daytueDF07["DepDelay"].mean()

9.398720587131987

In [127]:
daywedDF07["DepDelay"].mean()

10.687132917683202

In [128]:
daythuDF07["DepDelay"].mean()

12.886387368169817

In [129]:
dayfriDF07["DepDelay"].mean()

13.576724963618544

In [130]:
daysatDF07["DepDelay"].mean()

8.993704679140304

In [131]:
daysunDF07["DepDelay"].mean()

11.978118657750775

In [ ]:
#finding avg arrival delay of each day in 2007

In [118]:
daymonDF07["ArrDelay"].mean()

10.513502556550229

In [119]:
daytueDF07["ArrDelay"].mean()

8.263684434009868

In [120]:
daywedDF07["ArrDelay"].mean()

9.962943847767281

In [121]:
daythuDF07["ArrDelay"].mean()

12.685980155261941

In [122]:
dayfriDF07["ArrDelay"].mean()

13.067675000697863

In [123]:
daysatDF07["ArrDelay"].mean()

5.846600031017031

In [124]:
daysunDF07["ArrDelay"].mean()

10.32957740663109